{"openapi":"3.0.1","info":{"title":"Qualer.Web.Mvc","version":"v1"},"servers":[{"url":"https://jgiquality.qualer.com/"}],"paths":{"/api/logout":{"post":{"tags":["Account"],"summary":"Logout","description":"LogoutAction:<br />\r\nLogout - remove the passed token from the list of active sessions (default value)<br />\r\nLogoutAll - remove this token and all other tokens created for the same user from the list of active sessions<br />\r\nLogoutAllOther - remove all tokens created for the same user from the list of session except for the one that is passed in<br />\r\nRotate - change the current token to a different GUID and return the new GUID","operationId":"Logout","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Qualer.Api.Models.Account.To.LogoutModel"}}},"required":true},"responses":{"200":{"description":"","content":{"application/json":{"schema":{"type":"object"}}}},"400":{"description":"","content":{}},"401":{"description":"","content":{}}},"x-codegen-request-body-name":"model"}},"/api/user/messages":{"get":{"tags":["Account"],"operationId":"GetEmployeeMessages","parameters":[{"name":"model.period","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"model.siteId","in":"query","schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Qualer.Api.Models.Account.To.EmployeeEventResponseModel"}}}}}}}},"/api/user/messages/{messageId}":{"get":{"tags":["Account"],"operationId":"GetEmployeeMessage","parameters":[{"name":"messageId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Qualer.Api.Models.Account.To.EmployeeEventMessageResponseModel"}}}}}}},"/api/user/location":{"post":{"tags":["Account"],"summary":"Post Employee Location","description":"Sample request:\r\n            \r\nPOST api/user/location\r\n            \r\nLatitude - The latitude in degrees.<br />\r\nLongitude - The longitude in degrees.<br />\r\nAccuracy - The radius of uncertainty for the location, measured in meters.<br />\r\nAltitude - The altitude in meters above the WGS 84 reference ellipsoid.<br />\r\nAltitudeAccuracy - The accuracy of the altitude value, in meters.<br />\r\nHeading - Horizontal direction of travel of this device, measured in degrees starting at due north and continuing clockwise around the compass. Thus, north is 0 degrees, east is 90 degrees, south is 180 degrees, and so on.<br />\r\nSpeed - The instantaneous speed of the device in meters per second.<br />\r\nTimestamp - The time at which this position information was obtained, in seconds.","operationId":"PostEmployeeLocation","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Qualer.Api.Models.Employees.From.EmployeeLocationModel"}}},"required":true},"responses":{"200":{"description":"","content":{"application/json":{"schema":{"type":"object"}}}}},"x-codegen-request-body-name":"model"}},"/api/user/companies":{"post":{"tags":["Account"],"operationId":"Companies","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Qualer.Web.Mvc.Areas.Api.Models.Account.To.LoginModel"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object"}}}}},"x-codegen-request-body-name":"model"}},"/api/login":{"post":{"tags":["Account"],"summary":"Login","operationId":"Login","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Qualer.Web.Mvc.Areas.Api.Models.Account.To.LoginModel"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Qualer.Api.Models.Account.From.LoginResponseModel"}}}},"401":{"description":"","content":{}}},"x-codegen-request-body-name":"model"}},"/api/assets/{assetId}/attributes":{"get":{"tags":["AssetAttributes"],"operationId":"GetAssetAttributes","parameters":[{"name":"assetId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Qualer.Api.Models.AssetAttributes.To.AssetAttributesResponse"}}}}}}},"put":{"tags":["AssetAttributes"],"operationId":"UpsertAssetAttributes","parameters":[{"name":"assetId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Qualer.Api.Models.Common.From.AttributeModel"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object"}}}}},"x-codegen-request-body-name":"model"}},"/api/assets/{assetId}/plans":{"get":{"tags":["AssetMaintenancePlans"],"operationId":"GetMaintenancePlans","parameters":[{"name":"assetId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Qualer.Api.Models.Asset.To.AssetMaintenancePlanModel"}}}}}}},"/api/assets/{assetId}/plans/{maintenancePlanId}":{"get":{"tags":["AssetMaintenancePlans"],"operationId":"GetMaintenancePlan","parameters":[{"name":"assetId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"maintenancePlanId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Qualer.Api.Models.Asset.To.AssetMaintenancePlanModel"}}}}}},"put":{"tags":["AssetMaintenancePlans"],"operationId":"ResetInitialServiceDate","parameters":[{"name":"assetId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"maintenancePlanId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Qualer.Api.Models.Asset.From.UpdateAssetMaintenanceServiceDat"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object"}}}}},"x-codegen-request-body-name":"model"}},"/api/assets/{assetId}/measurements":{"get":{"tags":["AssetMeasurements"],"operationId":"GetMeasurementsByAsset","parameters":[{"name":"assetId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"from","in":"query","schema":{"type":"string","format":"date-time"}},{"name":"to","in":"query","schema":{"type":"string","format":"date-time"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Qualer.Api.Models.Measurements.To.MeasurementRecordResponseModel"}}}}}}}},"/api/assetpools/{id}":{"get":{"tags":["AssetPools"],"operationId":"Get","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Qualer.Api.Models.AssetPools.To.AssetPoolModel"}}}}}}},"/api/assetpools":{"get":{"tags":["AssetPools"],"operationId":"GetAll","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Qualer.Api.Models.AssetPools.To.AssetPoolModel"}}}}}}}},"/api/assetsreservations":{"get":{"tags":["AssetReservation"],"operationId":"Get_get_2","parameters":[{"name":"model.from","in":"query","schema":{"type":"string","format":"date-time"}},{"name":"model.to","in":"query","schema":{"type":"string","format":"date-time"}},{"name":"model.assetId","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"model.areaId","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"model.productId","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"model.serialNumber","in":"query","schema":{"type":"string"}},{"name":"model.assetTag","in":"query","schema":{"type":"string"}},{"name":"model.reservationId","in":"query","schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Qualer.Api.Models.AssetReservation.To.AssetReservationResponse"}}}}}}},"put":{"tags":["AssetReservation"],"operationId":"Upsert","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Qualer.Api.Models.AssetReservation.From.UpsertAssetReservationModel"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Qualer.Api.Models.AssetReservation.To.UpsertAssetReservationResponse"}}}}},"x-codegen-request-body-name":"model"}},"/api/assetsreservations/close":{"put":{"tags":["AssetReservation"],"operationId":"Close","parameters":[{"name":"model.assetId","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"model.areaId","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"model.productId","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"model.serialNumber","in":"query","schema":{"type":"string"}},{"name":"model.assetTag","in":"query","schema":{"type":"string"}},{"name":"model.reservationId","in":"query","schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object"}}}}}}},"/api/assets/{id}":{"get":{"tags":["Assets"],"operationId":"GetAsset","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Qualer.Api.Models.Asset.To.AssetResponseModel"}}}}}}},"/api/assets/{id}/images":{"get":{"tags":["Assets"],"summary":"GetAssetImages","description":"returns list of asset image urls","operationId":"GetAssetImages","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"type":"string"}}}}}}},"post":{"tags":["Assets"],"summary":"PostAssetImages","description":"returns list of asset image urls","operationId":"PostAssetImages","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object"}}}}}}},"/api/assets":{"get":{"tags":["Assets"],"operationId":"GetAllAssets","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Qualer.Api.Models.Asset.To.AssetResponseModel"}}}}}}}},"/api/assets/byattribute":{"get":{"tags":["Assets"],"operationId":"GetAssetByAttribute","parameters":[{"name":"model.name","in":"query","schema":{"type":"string"}},{"name":"model.value","in":"query","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Qualer.Api.Models.Asset.To.AssetResponseModel"}}}}}}}},"/api/assets/bybarcode/{barcode}":{"get":{"tags":["Assets"],"operationId":"GetAssetByBarcode","parameters":[{"name":"barcode","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Qualer.Api.Models.Asset.To.AssetResponseModel"}}}}}}}},"/api/assets/byserialnumber/{serialNumber}":{"get":{"tags":["Assets"],"operationId":"GetAssetBySerialNumber","parameters":[{"name":"serialNumber","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Qualer.Api.Models.Asset.To.AssetResponseModel"}}}}}}}},"/api/assets/byassettag/{assetTag}":{"get":{"tags":["Assets"],"operationId":"GetAssetByAssetTag","parameters":[{"name":"assetTag","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Qualer.Api.Models.Asset.To.AssetResponseModel"}}}}}}}},"/api/assets/byassetpool/{assetPoolId}":{"get":{"tags":["Assets"],"operationId":"GetAssetByAssetPool","parameters":[{"name":"assetPoolId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Qualer.Api.Models.Asset.To.AssetResponseModel"}}}}}}}},"/api/assets/byequipmentid/{equipmentId}":{"get":{"tags":["Assets"],"operationId":"GetAssetsByEquipmentId","parameters":[{"name":"equipmentId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Qualer.Api.Models.Asset.To.AssetResponseModel"}}}}}}}},"/api/assets/room":{"put":{"tags":["Assets"],"operationId":"UpdateRoom","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Qualer.Api.Models.Asset.From.UpdateRoomModel"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object"}}}}},"x-codegen-request-body-name":"model"}},"/api/assets/counters":{"get":{"tags":["Assets"],"summary":"GetAssetManagerCounters","operationId":"GetAssetManagerCounters","parameters":[{"name":"model.searchString","in":"query","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Qualer.Api.Models.Asset.To.AssetsCountResponseModel"}}}}}}},"/api/assets/byfilter":{"get":{"tags":["Assets"],"summary":"GetAssetManagerList","description":"filterType: Unset, DueForService, RecentlyServiced, NotServiced, RecentlyPurchased,\r\n    WarrantyExpiring, DueForReplacement, OutOfService,\r\n    PastDue, ServicePending, CollectedAssets,  WithoutSchedule, WithoutVendor,\r\n    WithoutProduct, Added, Modified, Deleted,\r\n    NoAgreement, ExpiredAgreement, AgreementUpForRenewal","operationId":"GetAssetManagerList","parameters":[{"name":"model.filterType","in":"query","schema":{"type":"string"}},{"name":"model.searchString","in":"query","schema":{"type":"string"}},{"name":"model.page","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"model.pageSize","in":"query","schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Qualer.Api.Models.Asset.To.AssetManageResponseModel"}}}}}}}},"/api/assets/collection/add":{"put":{"tags":["Assets"],"summary":"CollectAssets(int[] assetIds)","description":"[123,234,567]","operationId":"CollectAssets","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"type":"integer","format":"int32"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object"}}}}},"x-codegen-request-body-name":"assetIds"}},"/api/assets/collection/remove":{"put":{"tags":["Assets"],"summary":"ClearCollectedAssets(int[] assetIds)","description":"[123,234,567] removes assets with selected Ids\r\n            \r\n[] removes all assets from QuickCollection","operationId":"ClearCollectedAssets","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"type":"integer","format":"int32"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object"}}}}},"x-codegen-request-body-name":"assetIds"}},"/api/assets/{id}/room":{"put":{"tags":["Assets"],"operationId":"UpdateAssetRoom","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Qualer.Api.Models.Asset.From.UpdateAssetRoomModel"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object"}}}}},"x-codegen-request-body-name":"model"}},"/api/assets/{id}/class":{"put":{"tags":["Assets"],"operationId":"UpdateAssetClass","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Qualer.Api.Models.Asset.From.UpdateAssetClassModel"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object"}}}}},"x-codegen-request-body-name":"model"}},"/api/assets/{id}/department":{"put":{"tags":["Assets"],"operationId":"UpdateAssetDepartment","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Qualer.Api.Models.Asset.From.UpdateAssetDepartmentModel"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object"}}}}},"x-codegen-request-body-name":"model"}},"/api/assetserviceforecast/client/{clientCompanyId}":{"get":{"tags":["AssetServiceForecast"],"operationId":"GetClientAssetForecastList","parameters":[{"name":"clientCompanyId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Qualer.Api.Models.Asset.To.AssetServiceForecastModel"}}}}}}}},"/api/assetserviceforecast":{"get":{"tags":["AssetServiceForecast"],"operationId":"GetAssetForecastList","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Qualer.Api.Models.Asset.To.AssetServiceForecastModel"}}}}}}}},"/api/assetservicerecords/{AssetServiceRecordId}":{"get":{"tags":["AssetServiceRecords"],"operationId":"GetAssetServiceRecord","parameters":[{"name":"AssetServiceRecordId","in":"path","required":true,"schema":{"type":"string"}},{"name":"model.assetServiceRecordId","in":"query","schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Qualer.Api.Models.AssetServiceRecords.To.AssetServiceRecordResponseModel"}}}}}}},"/api/assets/{assetId}/assetservicerecords":{"get":{"tags":["AssetServiceRecords"],"operationId":"GetAssetServiceRecordsByAsset","parameters":[{"name":"assetId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Qualer.Api.Models.AssetServiceRecords.To.AssetServiceRecordResponseModel"}}}}}}},"post":{"tags":["AssetServiceRecords"],"operationId":"AddAssetServiceRecord","parameters":[{"name":"assetId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Qualer.Api.Models.AssetServiceRecords.From.AddAssetServiceRecordModel"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object"}}}},"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Qualer.Api.Models.AssetServiceRecords.To.AddAssetServiceRecordResponse"}}}}},"x-codegen-request-body-name":"model"}},"/api/assetservicerecords":{"get":{"tags":["AssetServiceRecords"],"operationId":"GetAssetServiceRecords","parameters":[{"name":"model.assetId","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"model.serialNumber","in":"query","schema":{"type":"string"}},{"name":"model.from","in":"query","schema":{"type":"string","format":"date-time"}},{"name":"model.to","in":"query","schema":{"type":"string","format":"date-time"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Qualer.Api.Models.AssetServiceRecords.To.AssetServiceRecordResponseModel"}}}}}}},"/api/assetservicerecords/{assetServiceRecordId}/documents":{"get":{"tags":["AssetServiceRecords"],"operationId":"DownloadDocuments","parameters":[{"name":"assetServiceRecordId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object"}}}}}},"post":{"tags":["AssetServiceRecords"],"operationId":"UploadDocuments","parameters":[{"name":"assetServiceRecordId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object"}}}}}}},"/api/assetservicerecords/{assetServiceRecordId}":{"put":{"tags":["AssetServiceRecords"],"operationId":"UpdateAssetServiceRecord","parameters":[{"name":"assetServiceRecordId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Qualer.Api.Models.AssetServiceRecords.From.UpdateAssetServiceRecordModel"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object"}}}}},"x-codegen-request-body-name":"model"}},"/api/assetservicerecords/{AssetServiceRecordId}/documents/files":{"get":{"tags":["AssetServiceRecords"],"operationId":"DocumentList","parameters":[{"name":"assetServiceRecordId","in":"query","schema":{"type":"string"}},{"name":"model.assetServiceRecordId","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"AssetServiceRecordId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"type":"string"}}}}}}}},"/api/assetservicerecords/{AssetServiceRecordId}/documents/{FileName}":{"get":{"tags":["AssetServiceRecords"],"operationId":"DownloadDocument","parameters":[{"name":"assetServiceRecordId","in":"query","schema":{"type":"string"}},{"name":"fileName","in":"query","schema":{"type":"string"}},{"name":"model.assetServiceRecordId","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"model.fileName","in":"query","schema":{"type":"string"}},{"name":"AssetServiceRecordId","in":"path","required":true,"schema":{"type":"string"}},{"name":"FileName","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object"}}}}}}},"/api/service/clients/assets/{assetId}/attributes":{"get":{"tags":["ClientAssetAttributes"],"operationId":"GetAssetAttributes_get_2","parameters":[{"name":"assetId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Qualer.Api.Models.AssetAttributes.To.AssetAttributesResponse"}}}}}}},"put":{"tags":["ClientAssetAttributes"],"operationId":"UpsertAssetAttributes_put_2","parameters":[{"name":"assetId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Qualer.Api.Models.Common.From.AttributeModel"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object"}}}}},"x-codegen-request-body-name":"model"}},"/api/service/clients/assets/{AssetId}":{"get":{"tags":["ClientAssets"],"operationId":"GetAsset_get_2","parameters":[{"name":"assetId","in":"query","schema":{"type":"string"}},{"name":"model.assetId","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"AssetId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Qualer.Api.Models.Asset.To.AssetResponseModel"}}}}}}},"/api/service/clients/{clientCompanyId}/assets":{"get":{"tags":["ClientAssets"],"operationId":"GetAssets","parameters":[{"name":"clientCompanyId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"query.equipmentId","in":"query","schema":{"type":"string"}},{"name":"query.serialNumber","in":"query","schema":{"type":"string"}},{"name":"query.assetTag","in":"query","schema":{"type":"string"}},{"name":"query.barcode","in":"query","schema":{"type":"string"}},{"name":"query.legacyId","in":"query","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Qualer.Api.Models.Asset.To.AssetResponseModel"}}}}}}}},"/api/service/clients/{clientCompanyId}/counters":{"get":{"tags":["ClientAssets"],"operationId":"GetAssetCounters","parameters":[{"name":"clientCompanyId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Qualer.Api.Models.Asset.To.ClientAssetCountersResponseModel"}}}}}}},"/api/service/clients/{clientCompanyId}/assets/byfilter":{"get":{"tags":["ClientAssets"],"summary":"GetAssetManagerList","description":"assetFilterType: ClientUnset, ClientAssetsCollected, ClientPastDue, ClientDueForService, ClientOutOfService, ClientWithoutSchedule\r\n            \r\nClientDueForService - depends on Employee Filter Preference\r\nPOST api/user/filters","operationId":"GetAssetManagerList_get_2","parameters":[{"name":"clientCompanyId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"query.filterType","in":"query","schema":{"type":"string"}},{"name":"query.searchString","in":"query","schema":{"type":"string"}},{"name":"query.page","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"query.pageSize","in":"query","schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Qualer.Api.Models.Asset.To.ClientAssetManagerResponseModel"}}}}}}}},"/api/service/clients/assets":{"get":{"tags":["ClientAssets"],"operationId":"GetAllAssets_get_2","parameters":[{"name":"query.equipmentId","in":"query","schema":{"type":"string"}},{"name":"query.serialNumber","in":"query","schema":{"type":"string"}},{"name":"query.assetTag","in":"query","schema":{"type":"string"}},{"name":"query.barcode","in":"query","schema":{"type":"string"}},{"name":"query.legacyId","in":"query","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Qualer.Api.Models.Asset.To.AssetResponseModel"}}}}}}},"post":{"tags":["ClientAssets"],"operationId":"CreateAsset","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Qualer.Api.Models.Clients.From.AssetModel"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object"}}}},"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Qualer.Api.Models.Clients.To.CreatedClientAssetResponse"}}}}},"x-codegen-request-body-name":"model"}},"/api/service/clients/assets/{assetId}/assetservicerecords":{"get":{"tags":["ClientAssetServiceRecords"],"operationId":"GetAssetServiceRecordsByAsset_get_2","parameters":[{"name":"assetId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Qualer.Api.Models.AssetServiceRecords.To.AssetServiceRecordResponseModel"}}}}}}}},"/api/service/clients/{clientCompanyId}/attributes":{"get":{"tags":["ClientAttribute"],"operationId":"GetClientAttributes","parameters":[{"name":"clientCompanyId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object"}}}}}},"post":{"tags":["ClientAttribute"],"operationId":"UpsertClientAttribute","parameters":[{"name":"clientCompanyId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Qualer.Api.Models.ClientAttributes.From.ClientAttributeModel"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object"}}}}},"x-codegen-request-body-name":"model"}},"/api/service/clients/{clientCompanyId}/employees":{"get":{"tags":["ClientEmployees"],"operationId":"GetEmployees","parameters":[{"name":"clientCompanyId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Qualer.Api.Models.Clients.To.EmployeeResponseModel"}}}}}}}},"/api/service/clients/employees/{EmployeeId}":{"get":{"tags":["ClientEmployees"],"operationId":"GetEmployee","parameters":[{"name":"employeeId","in":"query","schema":{"type":"string"}},{"name":"model.employeeId","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"EmployeeId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Qualer.Api.Models.Clients.To.EmployeeResponseModel"}}}}}}},"/api/service/clients/employees":{"post":{"tags":["ClientEmployees"],"operationId":"CreateEmployee","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Qualer.Api.Models.Clients.From.SponsoredEmployeeModel"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object"}}}},"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Qualer.Api.Models.Clients.To.CreatedClientEmployeeResponse"}}}}},"x-codegen-request-body-name":"model"}},"/api/service/clients/employees/{employeeId}/sendemail":{"put":{"tags":["ClientEmployees"],"operationId":"SendEmployeeEmail","parameters":[{"name":"employeeId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Qualer.Api.Models.Clients.From.SendEmployeeEmailModel"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object"}}}}},"x-codegen-request-body-name":"model"}},"/api/service/clients/{clientCompanyId}/plans":{"get":{"tags":["ClientMaintenancePlans"],"operationId":"GetMaintenancePlans_get_2","parameters":[{"name":"clientCompanyId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Qualer.Api.Models.MaintenancePlans.To.MaintenancePlanResponse"}}}}}}}},"/api/service/clients/plans/{maintenancePlanId}/assets":{"get":{"tags":["ClientMaintenancePlans"],"operationId":"GetMaintenancePlanAssets","parameters":[{"name":"maintenancePlanId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Qualer.Api.Models.Asset.To.AssetForecastApiResponseModel"}}}}}}}},"/api/service/clients/{clientCompanyId}":{"get":{"tags":["Clients"],"operationId":"Get_get_3","parameters":[{"name":"clientCompanyId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Qualer.Api.Models.Clients.To.ClientCompanyResponseModel"}}}}}}},"/api/service/clients":{"get":{"tags":["Clients"],"operationId":"GetAll_get_2","parameters":[{"name":"model.legacyId","in":"query","schema":{"type":"string"}},{"name":"model.accountNumberText","in":"query","schema":{"type":"string"}},{"name":"model.companyName","in":"query","schema":{"type":"string"}},{"name":"model.take","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"model.modifiedAfter","in":"query","schema":{"type":"string","format":"date-time"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Qualer.Api.Models.Clients.To.ClientCompanyResponseModel"}}}}}}},"put":{"tags":["Clients"],"summary":"Update Client information.","description":"ClientStatus: Prospect = 0, Approved = 1, NotApproved = 2, Hidden = 3","operationId":"Update","requestBody":{"description":"Client update model","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Qualer.Api.Models.Clients.From.SponsoredClientEditModel"}}},"required":true},"responses":{"200":{"description":"Client information was updated successfully","content":{"application/json":{"schema":{"type":"object"}}}},"404":{"description":"Client company not found","content":{}},"400":{"description":"- Domain name is not a valid or domain already used by another company\r\n- Invalid states are received\r\n- Invalid countries are received","content":{}}},"x-codegen-request-body-name":"model"},"post":{"tags":["Clients"],"summary":"Create Client information.","description":"ClientStatus: Prospect = 0, Approved = 1, NotApproved = 2, Hidden = 3","operationId":"Create","requestBody":{"description":"Client update model","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Qualer.Api.Models.Clients.From.SponsoredClientCreateModel"}}},"required":true},"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Qualer.Api.Models.Clients.To.CreatedClientCompanyResponse"}}}},"400":{"description":"- Domain name is not a valid or domain already used by another company\r\n- Invalid states are received\r\n- Invalid countries are received","content":{}}},"x-codegen-request-body-name":"model"}},"/api/service/clients/{clientCompanyId}/sites":{"get":{"tags":["ClientSite"],"operationId":"GetClientSites","parameters":[{"name":"clientCompanyId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Qualer.Api.Models.Site.To.ClientSiteResponse"}}}}}}},"put":{"tags":["ClientSite"],"summary":"Update Client Site.","description":"CultureName examples: \"en-US\", \"en-AU\" , \"de-DE\", \"es-ES\"","operationId":"UpdateClientSite","parameters":[{"name":"clientCompanyId","in":"path","description":"Client Company Id","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"description":"Site update model","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Qualer.Api.Models.Site.From.SiteUpdateModel"}}},"required":true},"responses":{"200":{"description":"Client site updated successfully","content":{"application/json":{"schema":{"type":"object"}}}},"404":{"description":"Client company not found","content":{}},"400":{"description":"- Invalid states are received\r\n- Invalid countries are received","content":{}}},"x-codegen-request-body-name":"model"},"post":{"tags":["ClientSite"],"summary":"Create Client Site.","description":"CultureName examples: \"en-US\", \"en-AU\" , \"de-DE\", \"es-ES\"","operationId":"CreateClientSite","parameters":[{"name":"clientCompanyId","in":"path","description":"Client Company Id","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"description":"Site create model","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Qualer.Api.Models.Site.From.SiteCreateModel"}}},"required":true},"responses":{"200":{"description":"Client site created successfully","content":{"application/json":{"schema":{"type":"object"}}}},"404":{"description":"Client company not found","content":{}},"400":{"description":"- Invalid states are received\r\n- Invalid countries are received","content":{}}},"x-codegen-request-body-name":"model"}},"/api/common/culturelist":{"get":{"tags":["Common"],"operationId":"CultureList","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Qualer.Api.Models.Common.To.CultureListResponseModel"}}}}}}},"/api/common/cultureuilist":{"get":{"tags":["Common"],"operationId":"CultureUiList","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Qualer.Api.Models.Common.To.CultureListResponseModel"}}}}}}},"/api/common/settings":{"get":{"tags":["Common"],"operationId":"GetCompanySettings","parameters":[{"name":"settingKey","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Qualer.Api.Models.Common.To.SettingResponseModel"}}}}}}},"/api/company/lookups":{"get":{"tags":["Company"],"description":"lookupName:\r\nAssetClass = 1\r\nAssetCriticality = 2\r\nAssetCondition = 3\r\nInventoryCategory = 4\r\nInventoryUnit = 5\r\nOrderItemInProgressWorkStatus = 6\r\nOrderItemDelayWorkStatus = 7\r\nOrderItemWithdrawnWorkStatus = 8\r\nOrderItemCompletedWorkStatus = 9\r\nOrderDelayedStatus = 10\r\nClientInvoicing = 11\r\nClientStanding = 12\r\nClientCategory = 13\r\nCancelOrderReasons = 14\r\nOrderItemLockedWorkStatus = 15","operationId":"Lookups","parameters":[{"name":"lookupType","in":"query","required":true,"schema":{"type":"string","enum":["AssetClass","AssetCriticality","AssetCondition","InventoryCategory","InventoryUnit","OrderItemInProgressWorkStatus","OrderItemDelayWorkStatus","OrderItemWithdrawnWorkStatus","OrderItemCompletedWorkStatus","OrderDelayedStatus","ClientInvoicing","ClientStanding","ClientCategory","CancelOrderReasons","OrderItemLockedWorkStatus","OrderItemClosedWorkStatus"]}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"type":"string"}}}}}}}},"/api/company/departments":{"get":{"tags":["Company"],"operationId":"Departments","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Qualer.Api.Models.Company.To.DepartmentsResponseModel"}}}}}}},"post":{"tags":["Company"],"operationId":"AddDepartment","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Qualer.Web.Mvc.Areas.Api.Models.Company.From.AddDepartmentModel"}}},"required":true},"responses":{"204":{"description":"If department successfully created","content":{"application/json":{"schema":{"type":"object"}}}},"409":{"description":"If department already exists","content":{}}},"x-codegen-request-body-name":"model"}},"/api/company/departments/{departmentId}":{"put":{"tags":["Company"],"operationId":"UpdateDepartment","parameters":[{"name":"departmentId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Qualer.Web.Mvc.Areas.Api.Models.Company.From.UpdateDepartmentModel"}}},"required":true},"responses":{"204":{"description":"If department successfully updated","content":{"application/json":{"schema":{"type":"object"}}}},"409":{"description":"If department already exists","content":{}}},"x-codegen-request-body-name":"model"},"delete":{"tags":["Company"],"operationId":"DeleteDepartment","parameters":[{"name":"departmentId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"204":{"description":"If department successfully deleted","content":{"application/json":{"schema":{"type":"object"}}}},"409":{"description":"If department has some dependencies","content":{}}}}},"/api/company/sites":{"get":{"tags":["Company"],"operationId":"Sites","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Qualer.Api.Models.Company.To.SitesResponseModel"}}}}}}}},"/api/company/sites/{id}/rooms":{"get":{"tags":["Company"],"operationId":"SiteRooms","parameters":[{"name":"id","in":"path","description":"Site id\r\nGET /api/company/sites","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Qualer.Api.Models.Company.To.EnvironmentResponseModel"}}}}},"400":{"description":"Site not belong current company","content":{}}}}},"/api/user/filters":{"get":{"tags":["EmployeeFilterPreference"],"summary":"GetEmployeeFilterPreferences","operationId":"GetEmployeeFilterPreferences","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Qualer.Api.Models.Asset.To.EmployeeFilterPreferenceResponseModel"}}}}}}},"put":{"tags":["EmployeeFilterPreference"],"summary":"UpdateEmployeeFilterPreference","operationId":"UpdateEmployeeFilterPreference","requestBody":{"description":"FilterType: \\\r\nDueForService(AssetsDue), RecentlyServiced(AssetsRecentlyServiced), NotServiced(AssetsNotServiced), \\\r\nRecentlyPurchased(AssetsRecentlyPurchased), WarrantyExpiring(AssetsWarrantyExpires), \\\r\nDueForReplacement(AssetsDueForReplacement), ServicePending(AssetsServicePending) \\\r\n            \r\nWithinDays: 30\r\n            \r\nUseDateRange: true, false\r\n            \r\nStartDate: '2020-01-01' optional\r\n            \r\nEndDate: '2020-05-31' optional","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Qualer.Api.Models.Asset.From.UpdateFilterPreferenceModel"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object"}}}}},"x-codegen-request-body-name":"model"}},"/api/user/preferences/{elementPage}":{"get":{"tags":["EmployeePreference"],"description":"elementPage:\r\nAssetManager = 1,\r\nWorkOrders = 2,\r\nServiceOrderItems = 3,\r\nServiceSchedules = 4,\r\nServiceRequests = 5,\r\nVendors = 6,\r\nVendorAgreements = 7,\r\nClientAgreements = 8,\r\nWorkCalendar = 9,\r\nClients = 10,\r\nGlobalAssetManager = 11,\r\nInvoicesManager = 12,\r\nProductManager = 13,\r\nProductSpecifications = 14,\r\nDocumentManager = 15","operationId":"Get_get_4","parameters":[{"name":"elementPage","in":"path","required":true,"schema":{"type":"string","enum":["AssetManager","WorkOrders","ServiceOrderItems","ServiceSchedules","ServiceRequests","Vendors","VendorAgreements","ClientAgreements","WorkCalendar","Clients","GlobalAssetManager","InvoicesManager","ProductManager","ProductSpecifications","DocumentManager","Taxonomy","ClientAssetManager","InventoryManager"]}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Qualer.Api.Models.Asset.To.EmployeePreferenceResponseModel"}}}}}}},"delete":{"tags":["EmployeePreference"],"operationId":"Delete","parameters":[{"name":"elementPage","in":"path","required":true,"schema":{"type":"string","enum":["AssetManager","WorkOrders","ServiceOrderItems","ServiceSchedules","ServiceRequests","Vendors","VendorAgreements","ClientAgreements","WorkCalendar","Clients","GlobalAssetManager","InvoicesManager","ProductManager","ProductSpecifications","DocumentManager","Taxonomy","ClientAssetManager","InventoryManager"]}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object"}}}}}}},"/api/employees/{employeeId}":{"get":{"tags":["Employees"],"operationId":"GetEmployee_get_2","parameters":[{"name":"employeeId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Qualer.Api.Models.Clients.To.EmployeeResponseModel"}}}}}},"put":{"tags":["Employees"],"summary":"Update Employee","description":"CultureName examples: \"en-US\", \"en-AU\" , \"de-DE\", \"es-ES\".<br />\r\nCultureUiName examples: \"en-US\", \"en-AU\" , \"de-DE\", \"es-ES\"<br />\r\nList of culture codes: GET /api/common/culturelist\"\r\nList of UI culture codes: GET /api/common/cultureuilist\"","operationId":"UpdateEmployee","parameters":[{"name":"employeeId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Qualer.Api.Models.Employees.From.UpdateEmployeeModel"}}},"required":true},"responses":{"201":{"description":"","content":{"application/json":{"schema":{"type":"object"}}}},"400":{"description":"","content":{}}},"x-codegen-request-body-name":"model"}},"/api/employees":{"get":{"tags":["Employees"],"operationId":"GetEmployees_get_2","parameters":[{"name":"model.searchString","in":"query","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Qualer.Api.Models.Clients.To.EmployeeResponseModel"}}}}}}},"post":{"tags":["Employees"],"summary":"Create Employee","description":"CultureName examples: \"en-US\", \"en-AU\" , \"de-DE\", \"es-ES\".<br />\r\nCultureUiName examples: \"en-US\", \"en-AU\" , \"de-DE\", \"es-ES\"<br />\r\nList of culture codes: GET /api/common/culturelist\"\r\nList of UI culture codes: GET /api/common/cultureuilist\"","operationId":"CreateEmployee_post_2","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Qualer.Api.Models.Employees.From.CreateEmployeeModel"}}},"required":true},"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Qualer.Api.Models.Employees.To.CreatedEmployeeResponse"}}}},"400":{"description":"","content":{}}},"x-codegen-request-body-name":"model"}},"/api/employees/{employeeId}/department":{"post":{"tags":["Employees"],"operationId":"AddEmployeeDepartment","parameters":[{"name":"employeeId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Qualer.Api.Models.Employees.From.EmployeeDepartmentModel"}}},"required":true},"responses":{"204":{"description":"","content":{"application/json":{"schema":{"type":"object"}}}},"403":{"description":"","content":{}}},"x-codegen-request-body-name":"model"}},"/api/employees/{employeeId}/department/{departmentId}":{"delete":{"tags":["Employees"],"operationId":"DeleteEmployeeDepartment","parameters":[{"name":"employeeId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"departmentId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"204":{"description":"","content":{"application/json":{"schema":{"type":"object"}}}},"403":{"description":"","content":{}}}}},"/api/Environments/{id}":{"get":{"tags":["Environments"],"operationId":"Get_get_5","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Qualer.Api.Models.Environment.To.EnvironmentModel"}}}}}}},"post":{"tags":["Environments"],"operationId":"Post","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Qualer.Api.Models.Environment.From.EnvironmentModel"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object"}}}}},"x-codegen-request-body-name":"model"}},"/api/plans":{"get":{"tags":["MaintenancePlans"],"operationId":"GetMaintenancePlans_get_3","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Qualer.Api.Models.MaintenancePlans.To.MaintenancePlanResponse"}}}}}}}},"/api/plans/{maintenancePlanId}/assets":{"get":{"tags":["MaintenancePlans"],"operationId":"GetMaintenancePlanAssets_get_2","parameters":[{"name":"maintenancePlanId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Qualer.Api.Models.Asset.To.AssetForecastApiResponseModel"}}}}}}}},"/api/products/inventorycount":{"get":{"tags":["Product"],"operationId":"GetInventoryCount","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Qualer.Api.Models.Inventory.To.InventoryResponseModel"}}}}}}},"put":{"tags":["Product"],"operationId":"PutInventoryCount","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Qualer.Api.Models.Inventory.From.InventoryCountModel"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object"}}}}},"x-codegen-request-body-name":"models"}},"/api/products/{productId}":{"get":{"tags":["Product"],"operationId":"GetProduct","parameters":[{"name":"productId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Qualer.Api.Models.Product.To.ProductApiResponseModel"}}}}}},"put":{"tags":["Product"],"operationId":"Product","parameters":[{"name":"productId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Qualer.Web.Mvc.Areas.Api.Models.Product.From.ProductApiEditModel"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object"}}}}},"x-codegen-request-body-name":"model"}},"/api/products/add":{"post":{"tags":["Product"],"operationId":"AddProduct","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Qualer.Web.Mvc.Areas.Api.Models.Product.From.ProductApiEditModel"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object"}}}}},"x-codegen-request-body-name":"model"}},"/api/manufacturers":{"get":{"tags":["Product"],"operationId":"GetManufacturers","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Qualer.Api.Models.Product.To.ManufacturerResponseModel"}}}}}}}},"/api/manufacturers/add":{"post":{"tags":["Product"],"operationId":"AddManufacturer","parameters":[{"name":"manufacturerName","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object"}}}}}}},"/api/reference/UnitsOfMeasure":{"get":{"tags":["Reference"],"operationId":"GetUnitsOfMeasure","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Qualer.Api.Models.Reference.To.UnitOfMeasureResponse"}}}}}}}},"/api/reference/MeasurementQuantities":{"get":{"tags":["Reference"],"operationId":"GetMeasurementQuantities","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Qualer.Api.Models.Reference.To.MeasurementQuantityResponse"}}}}}}}},"/api/data/MeasurementChart/{serviceOrderItemId}":{"get":{"tags":["ReportDatasets"],"operationId":"GetMeasurementCharts","parameters":[{"name":"serviceOrderItemId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Qualer.Api.Models.ReportDatasets.To.MeasurementChartResponse"}}}}}}}},"/api/data/ToolAttributes/{serviceOrderItemId}":{"get":{"tags":["ReportDatasets"],"operationId":"GetToolAttributes","parameters":[{"name":"serviceOrderItemId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Qualer.Api.Models.ReportDatasets.To.ToolAttributeResponse"}}}}}}}},"/api/data/ToolRangeAttributes/{serviceOrderItemId}":{"get":{"tags":["ReportDatasets"],"operationId":"GetToolRangeAttributes","parameters":[{"name":"serviceOrderItemId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Qualer.Api.Models.ReportDatasets.To.ToolRangeAttributeResponse"}}}}}}}},"/api/data/AssetAttributes/{serviceOrderItemId}":{"get":{"tags":["ReportDatasets"],"operationId":"GetAssetAttributes_get_3","parameters":[{"name":"serviceOrderItemId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Qualer.Api.Models.ReportDatasets.To.AssetAttributeResponse"}}}}}}}},"/api/data/OrderItemImages/{serviceOrderItemId}":{"get":{"tags":["ReportDatasets"],"operationId":"GetOrderItemImages","parameters":[{"name":"serviceOrderItemId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Qualer.Api.Models.ReportDatasets.To.OrderItemImageResponse"}}}}}}}},"/api/data/OrderItemDocuments/{serviceOrderItemId}":{"get":{"tags":["ReportDatasets"],"operationId":"GetOrderItemDocuments","parameters":[{"name":"serviceOrderItemId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Qualer.Api.Models.ReportDatasets.To.OrderItemImageResponse"}}}}}}}},"/api/data/ServiceOrderTasks/{serviceOrderId}":{"get":{"tags":["ReportDatasets"],"operationId":"GetServiceOrderTasks","parameters":[{"name":"serviceOrderId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Qualer.Api.Models.ReportDatasets.To.ServiceOrderTaskResponse"}}}}}}}},"/api/data/ServiceOrderCharges/{serviceOrderId}":{"get":{"tags":["ReportDatasets"],"operationId":"GetServiceOrderCharges","parameters":[{"name":"serviceOrderId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Qualer.Api.Models.ReportDatasets.To.ServiceOrderChargeResponse"}}}}}}}},"/api/data/ServiceOrderItemTasksByOrderItem/{serviceOrderItemId}":{"get":{"tags":["ReportDatasets"],"operationId":"GetServiceOrderItemTasksByOrderItems","parameters":[{"name":"serviceOrderItemId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Qualer.Api.Models.ReportDatasets.To.ServiceOrderItemTaskResponse"}}}}}}}},"/api/data/ServiceOrderItemTasksByOrder/{serviceOrderId}":{"get":{"tags":["ReportDatasets"],"operationId":"GetServiceOrderItemTasksByOrder","parameters":[{"name":"serviceOrderId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Qualer.Api.Models.ReportDatasets.To.ServiceOrderItemTaskResponse"}}}}}}}},"/api/data/ServiceOrderItemFieldsByOrder/{serviceOrderId}":{"get":{"tags":["ReportDatasets"],"operationId":"GetServiceOrderItemFieldsByOrder","parameters":[{"name":"serviceOrderId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Qualer.Api.Models.ReportDatasets.To.ServiceOrderItemFieldResponse"}}}}}}}},"/api/data/ServiceOrderItemStatusHistory/{serviceOrderItemId}":{"get":{"tags":["ReportDatasets"],"operationId":"GetServiceOrderItemStatusHistoryAsync","parameters":[{"name":"serviceOrderItemId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Qualer.Api.Models.ReportDatasets.To.ServiceOrderItemStatusHistoryResponse"}}}}}}}},"/api/data/MeasurementFields/{serviceOrderItemId}":{"get":{"tags":["ReportDatasets"],"operationId":"GetMeasurementFields","parameters":[{"name":"serviceOrderItemId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Qualer.Api.Models.ReportDatasets.To.MeasurementFieldResponse"}}}}}}}},"/api/data/orders/{serviceOrderId}/MeasurementFields":{"get":{"tags":["ReportDatasets"],"operationId":"GetMeasurementFieldsByOrder","parameters":[{"name":"serviceOrderId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Qualer.Api.Models.ReportDatasets.To.MeasurementFieldResponse"}}}}}}}},"/api/data/ServiceOrderItems/{serviceOrderItemId}":{"get":{"tags":["ReportDatasets"],"operationId":"GetServiceOrderItems","parameters":[{"name":"serviceOrderItemId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Qualer.Api.Models.ReportDatasets.To.ServiceOrderItemResponse"}}}}}}}},"/api/data/ServiceOrderItemComponents/{serviceOrderItemId}":{"get":{"tags":["ReportDatasets"],"operationId":"GetServiceOrderItemComponents","parameters":[{"name":"serviceOrderItemId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Qualer.Api.Models.ReportDatasets.To.ServiceOrderItemComponentResponse"}}}}}}}},"/api/data/orders/{serviceOrderId}/ServiceOrderItems":{"get":{"tags":["ReportDatasets"],"operationId":"GetServiceOrderItemsByOrder","parameters":[{"name":"serviceOrderId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Qualer.Api.Models.ReportDatasets.To.ServiceOrderItemResponse"}}}}}}}},"/api/data/orders/{serviceOrderId}/ServiceOrderItemComponents":{"get":{"tags":["ReportDatasets"],"operationId":"GetServiceOrderItemComponentsByOrder","parameters":[{"name":"serviceOrderId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Qualer.Api.Models.ReportDatasets.To.ServiceOrderItemComponentResponse"}}}}}}}},"/api/data/ServiceOrderItemOptions/{serviceOrderItemId}":{"get":{"tags":["ReportDatasets"],"operationId":"GetServiceOrderItemOptions","parameters":[{"name":"serviceOrderItemId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Qualer.Api.Models.ReportDatasets.To.ServiceOrderItemOptionResponse"}}}}}}}},"/api/data/AssetServiceRecords/{serviceOrderItemId}":{"get":{"tags":["ReportDatasets"],"operationId":"GetAssetServiceRecords_get_2","parameters":[{"name":"serviceOrderItemId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Qualer.Api.Models.ReportDatasets.To.AssetSummaryResponse"}}}}}}},"/api/data/ServiceOrderAssignees/{serviceOrderId}":{"get":{"tags":["ReportDatasets"],"operationId":"GetServiceOrderAssignees","parameters":[{"name":"serviceOrderId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Qualer.Api.Models.ReportDatasets.To.ServiceOrderAssigneeResponse"}}}}}}}},"/api/data/ReferenceStandards/{serviceOrderItemId}":{"get":{"tags":["ReportDatasets"],"operationId":"GetReferenceStandards","parameters":[{"name":"serviceOrderItemId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Qualer.Api.Models.ReportDatasets.To.ReferenceStandardResponse"}}}}}}}},"/api/data/orders/{serviceOrderId}/ReferenceStandards":{"get":{"tags":["ReportDatasets"],"operationId":"GetReferenceStandardsByOrder","parameters":[{"name":"serviceOrderId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Qualer.Api.Models.ReportDatasets.To.ReferenceStandardResponse"}}}}}}}},"/api/data/ServiceOrders/{serviceOrderId}":{"get":{"tags":["ReportDatasets"],"operationId":"GetServiceOrders","parameters":[{"name":"serviceOrderId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Qualer.Api.Models.ReportDatasets.To.ServiceOrderResponse"}}}}}}},"/api/data/MeasurementsAsFound/{serviceOrderItemId}":{"get":{"tags":["ReportDatasets"],"operationId":"GetAsFoundMeasurements","parameters":[{"name":"serviceOrderItemId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Qualer.Api.Models.ReportDatasets.To.MeasurementResponse"}}}}}}}},"/api/data/orders/{serviceOrderId}/MeasurementsAsFound":{"get":{"tags":["ReportDatasets"],"operationId":"GetAsFoundMeasurementsByOrder","parameters":[{"name":"serviceOrderId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Qualer.Api.Models.ReportDatasets.To.MeasurementResponse"}}}}}}}},"/api/data/MeasurementsAsLeft/{serviceOrderItemId}":{"get":{"tags":["ReportDatasets"],"operationId":"GetAsLeftMeasurements","parameters":[{"name":"serviceOrderItemId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Qualer.Api.Models.ReportDatasets.To.MeasurementResponse"}}}}}}}},"/api/data/orders/{serviceOrderId}/MeasurementsAsLeft":{"get":{"tags":["ReportDatasets"],"operationId":"GetAsLeftMeasurementsByOrder","parameters":[{"name":"serviceOrderId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Qualer.Api.Models.ReportDatasets.To.MeasurementResponse"}}}}}}}},"/api/data/Measurements/{serviceOrderItemId}":{"get":{"tags":["ReportDatasets"],"operationId":"GetAllMeasurements","parameters":[{"name":"serviceOrderItemId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Qualer.Api.Models.ReportDatasets.To.MeasurementAllResponse"}}}}}}}},"/api/data/orders/{serviceOrderId}/Measurements":{"get":{"tags":["ReportDatasets"],"operationId":"GetAllMeasurementsByOrder","parameters":[{"name":"serviceOrderId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Qualer.Api.Models.ReportDatasets.To.MeasurementAllResponse"}}}}}}}},"/api/data/CompanyCertifications":{"get":{"tags":["ReportDatasets"],"operationId":"GetCompanyCertifications","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Qualer.Api.Models.ReportDatasets.To.CompanyCertificationResponse"}}}}}}}},"/api/data/{serviceOrderId}/ExternalDataReports":{"get":{"tags":["ReportDatasets"],"operationId":"GetExternalDataReports","parameters":[{"name":"serviceOrderId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"serviceOrderItemIds","in":"query","required":true,"style":"form","explode":true,"schema":{"type":"array","items":{"type":"integer","format":"int32"}}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Qualer.Api.Models.ReportDatasets.To.ExternalDataReportResponse"}}}}}}}},"/api/data/ClientAttributes/{serviceOrderId}":{"get":{"tags":["ReportDatasets"],"operationId":"GetClientAttributes_get_2","parameters":[{"name":"serviceOrderId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Qualer.Api.Models.ReportDatasets.To.ClientAttributeResponse"}}}}}}},"/api/data/ChannelResults/{serviceOrderItemId}":{"get":{"tags":["ReportDatasets"],"operationId":"GetChannelResults","parameters":[{"name":"serviceOrderItemId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Qualer.Api.Models.ReportDatasets.To.MeasurementChannelResultResponse"}}}}}}}},"/api/data/orders/{serviceOrderId}/ChannelResults":{"get":{"tags":["ReportDatasets"],"operationId":"GetChannelResultsByOrder","parameters":[{"name":"serviceOrderId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Qualer.Api.Models.ReportDatasets.To.MeasurementChannelResultResponse"}}}}}}}},"/api/data/ChannelUniformity/{serviceOrderItemId}":{"get":{"tags":["ReportDatasets"],"operationId":"GetChannelUniformity","parameters":[{"name":"serviceOrderItemId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Qualer.Api.Models.ReportDatasets.To.MeasurementChannelUniformityResponse"}}}}}}}},"/api/data/orders/{serviceOrderId}/ChannelUniformity":{"get":{"tags":["ReportDatasets"],"operationId":"ChannelUniformityByOrder","parameters":[{"name":"serviceOrderId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Qualer.Api.Models.ReportDatasets.To.MeasurementChannelUniformityResponse"}}}}}}}},"/api/service/workorders/{serviceOrderId}/documents":{"get":{"tags":["ServiceOrderDocuments"],"summary":"Retrieve work order documents","description":"Sample request:\r\n            \r\nGET api/service/workorders/1000/documents","operationId":"GetDocuments","parameters":[{"name":"serviceOrderId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"model.fileName","in":"query","schema":{"type":"string"}}],"responses":{"200":{"description":"Returns an array of documents or empty list","content":{"application/json":{"schema":{"type":"object"}}}},"403":{"description":"Order access denied","content":{}},"404":{"description":"Invalid work order number","content":{}}}},"post":{"tags":["ServiceOrderDocuments"],"description":"reportType:<br />\r\nassetsummary, assetlabel, assetdetail, assetcertificate,<br />\r\nordersummary / serviceordersummary,<br />\r\norderinvoice / serviceorderinvoice,<br />\r\norderestimate / serviceorderestimate,<br />\r\norderdetail / serviceorderdetail,<br />\r\nordercertificate / serviceordercertificate,<br />\r\ngeneral","operationId":"UploadDocuments_post_2","parameters":[{"name":"serviceOrderId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"model.reportType","in":"query","schema":{"type":"string"}},{"name":"model.isPrivate","in":"query","schema":{"type":"boolean"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object"}}}}}}},"/api/service/workorders/{serviceOrderId}/documents/list":{"get":{"tags":["ServiceOrderDocuments"],"operationId":"GetDocumentsList","parameters":[{"name":"serviceOrderId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"model.reportType","in":"query","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Qualer.Api.Models.ServiceOrderDocuments.To.CompanyOrderControlledDocumentResponse"}}}}},"403":{"description":"Forbidden","content":{}},"404":{"description":"NotFound","content":{}}}}},"/api/service/workorders/documents/list":{"get":{"tags":["ServiceOrderDocuments"],"summary":"Retrieve work order documents","description":"Sample request:\r\n            \r\nGET /api/service/workorders/documents/list\r\n            \r\nGET /api/service/workorders/documents/list?status=reportType\r\n            \r\nGET /api/service/workorders/documents/list?from=2020-12-01T10:11:12&amp;to=2021-01-01T10:11:12&amp;reportType=OrderInvoice&amp;ServiceOrderId=1\r\n            \r\nreportType:<br />\r\nUnset = 0,<br />\r\nAssetSummary = 1,<br />\r\nAssetLabel = 11,<br />\r\nAssetDetail = 2,<br />\r\nAssetCertificate = 21,<br />\r\nOrderSummary / ServiceOrderSummary = 3,<br />\r\nOrderInvoice / ServiceOrderInvoice = 31,<br />\r\nOrderEstimate / ServiceOrderEstimate = 32,<br />\r\nDashboard = 4,<br />\r\nOrderDetail / ServiceOrderDetail = 5,<br />\r\nOrderCertificate / ServiceOrderCertificate = 5<br />","operationId":"GetDocumentList","parameters":[{"name":"from","in":"query","description":"Retrieve documents where CreatedOnUtc greater than From parameter","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"to","in":"query","description":"Retrieve documents where CreatedOnUtc less than To parameter","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"reportType","in":"query","description":"Retrieve documents given types (Optional)","schema":{"type":"string"}},{"name":"serviceOrderId","in":"query","description":"Retrieve documents by given service order id (Optional)","schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Qualer.Api.Models.ServiceOrderDocuments.To.CompanyOrderControlledDocumentResponse"}}}}},"400":{"description":"BadRequest","content":{}}}}},"/api/service/workorders/documents/{guid}":{"get":{"tags":["ServiceOrderDocuments"],"summary":"Retrieve work order document by Unique Id","description":"Sample request:\r\n            \r\nGET api/service/workorders/documents/FE6B21DC-8061-46FF-AAB8-12C2030FE4B9\r\n            \r\nGET api/wd/FE6B21DC-8061-46FF-AAB8-12C2030FE4B9","operationId":"GetDocument","parameters":[{"name":"guid","in":"path","description":"Document unique id","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Return document","content":{"application/json":{"schema":{"type":"object"}}}},"400":{"description":"Invalid document uniquer id","content":{}},"404":{"description":"Document not found","content":{}}}}},"/api/wd/{guid}":{"get":{"tags":["ServiceOrderDocuments"],"summary":"Retrieve work order document by Unique Id","description":"Sample request:\r\n            \r\nGET api/service/workorders/documents/FE6B21DC-8061-46FF-AAB8-12C2030FE4B9\r\n            \r\nGET api/wd/FE6B21DC-8061-46FF-AAB8-12C2030FE4B9","operationId":"GetDocument_get_wd","parameters":[{"name":"guid","in":"path","description":"Document unique id","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Return document","content":{"application/json":{"schema":{"type":"object"}}}},"400":{"description":"Invalid document uniquer id","content":{}},"404":{"description":"Document not found","content":{}}}}},"/api/service/workitems/{serviceOrderItemId}/documents":{"get":{"tags":["ServiceOrderItemDocuments"],"summary":"Retrieve work order documents","description":"Sample request:\r\n            \r\nGET api/service/workitems/1000/documents","operationId":"GetDocuments_get_2","parameters":[{"name":"serviceOrderItemId","in":"path","description":"Retrieve documents where CreatedOnUtc greater than From parameter","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"model.fileName","in":"query","schema":{"type":"string"}}],"responses":{"200":{"description":"Returns an array of documents or empty list","content":{"application/json":{"schema":{"type":"object"}}}},"403":{"description":"Order access denied","content":{}},"404":{"description":"Invalid work order number","content":{}}}},"post":{"tags":["ServiceOrderItemDocuments"],"operationId":"UploadDocuments_post_3","parameters":[{"name":"serviceOrderItemId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"model.reportType","in":"query","schema":{"type":"string"}},{"name":"model.isPrivate","in":"query","schema":{"type":"boolean"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object"}}}}}}},"/api/service/workitems/{serviceOrderItemId}/documents/list":{"get":{"tags":["ServiceOrderItemDocuments"],"operationId":"GetDocumentsList_get_2","parameters":[{"name":"serviceOrderItemId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"model.reportType","in":"query","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Qualer.Api.Models.ServiceOrderDocuments.To.CompanyOrderItemControlledDocumentResponse"}}}}},"403":{"description":"Forbidden","content":{}},"404":{"description":"NotFound","content":{}}}}},"/api/service/workitems/documents/list":{"get":{"tags":["ServiceOrderItemDocuments"],"summary":"Retrieve work order documents","description":"Sample request:\r\n            \r\nGET /api/service/workitems/documents/list\r\n            \r\nGET /api/service/workitems/documents/list?status=reportType\r\n            \r\nGET /api/service/workitems/documents/list?from=2020-12-01T10:11:12&amp;to=2021-01-01T10:11:12&amp;reportType=OrderInvoice&amp;ServiceOrderItemId=1\r\n            \r\nreportType:<br />\r\nUnset = 0,<br />\r\nAssetSummary = 1,<br />\r\nAssetLabel = 11,<br />\r\nAssetDetail = 2,<br />\r\nAssetCertificate = 21,<br />\r\nOrderSummary / ServiceOrderSummary = 3,<br />\r\nOrderInvoice / ServiceOrderInvoice = 31,<br />\r\nOrderEstimate / ServiceOrderEstimate = 32,<br />\r\nDashboard = 4,<br />\r\nOrderDetail / ServiceOrderDetail = 5,<br />\r\nOrderCertificate / ServiceOrderCertificate = 5<br />","operationId":"GetDocumentList_get_2","parameters":[{"name":"from","in":"query","description":"Retrieve documents where CreatedOnUtc greater than From parameter","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"to","in":"query","description":"Retrieve documents where CreatedOnUtc less than To parameter","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"reportType","in":"query","description":"Retrieve documents given types (Optional)","schema":{"type":"string"}},{"name":"serviceOrderItemId","in":"query","description":"Retrieve documents by given service order item id (Optional)","schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Qualer.Api.Models.ServiceOrderDocuments.To.CompanyOrderItemControlledDocumentResponse"}}}}},"400":{"description":"Returns if From date is greater than To date","content":{}}}}},"/api/service/workitems/{workItemId}/measurements":{"post":{"tags":["ServiceOrderItemMeasurements"],"summary":"Create Measurement Form.","description":"BatchType: AsLeft, AsFound.\r\n            \r\nBatchResult: NotServiced, Fail, FailAmbiguous, FailSignificant, Pass, PassAmbiguous, PassAdjustment, Done, Pending.\r\n            \r\nCustomFields.Result: NotServiced, Fail, Pass.\r\n            \r\nToleranceType: Percentage, Range, Offset, PercentagePlus, Ppm, PpmPlus, Function.\r\n            \r\nToleranceMode: Symmetric, Asymmetric, Range.\r\n            \r\nToleranceUnit: Percentage, UnitOfMeasure, Ppm.\r\n            \r\nPrecisionType: Percentage, UnitOfMeasure.\r\n            \r\nChannelsType: Combined, IndividualAcross, IndividualDown, OneOf.\r\n            \r\nMeasurement.Result: NotServiced, Fail, FailAmbiguous, FailSignificant, Pass, PassAmbiguous, PassAdjustment, Done, Pending.\r\n            \r\nFactorId: AmbientTemperature, AirHumidity, BarometricPressure, EvaporationRate, AirBuoyancy, ZFactor, Altitude, WindSpeed, SolarRadiation, LightIntensity, NoiseLevel, PhLevel, WaterConductivity3, WaterTemperature.","operationId":"CreateMeasurementForm","parameters":[{"name":"workItemId","in":"path","description":"Work Item ID of Measurement Form","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"description":"Measurement Form parameters","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Qualer.Api.Models.Measurements.From.CreateMeasurementFormModel"}}},"required":true},"responses":{"200":{"description":"Measurement Form was created successfully","content":{"application/json":{"schema":{"type":"object"}}}},"404":{"description":"Invalid work item number","content":{}},"403":{"description":"Work Item access denied","content":{}},"400":{"description":"- Measurement Form with this type of batch already exists\r\n- Invalid ParameterId: ...\r\n- Invalid ToolTypeId: ...\r\n- other","content":{}}},"x-codegen-request-body-name":"model"}},"/api/service/workitems/{workItemId}/AuxiliaryTools":{"post":{"tags":["ServiceOrderItemMeasurements"],"operationId":"AddAuxiliaryTools","parameters":[{"name":"workItemId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Qualer.Api.Models.Measurements.From.CreateMeasurementToolModel"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object"}}}}},"x-codegen-request-body-name":"models"}},"/api/service/workitems/{workItemId}/form":{"get":{"tags":["ServiceOrderItemMeasurements"],"summary":"Get Measurement Form.","operationId":"GetMeasurementForm","parameters":[{"name":"workItemId","in":"path","description":"Work Item ID of Measurement Form","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Qualer.Api.Models.Measurements.To.UpdateMeasurementFormResponseModel"}}}},"404":{"description":"Invalid work item number","content":{}},"403":{"description":"Work Item access denied","content":{}}}},"post":{"tags":["ServiceOrderItemMeasurements"],"summary":"Update Measurement Form.","operationId":"UpdateMeasurementForm","parameters":[{"name":"workItemId","in":"path","description":"Work Item ID of Measurement Form","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"description":"Measurement Form parameters","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Qualer.Api.Models.Measurements.From.UpdateMeasurementFormModel"}}},"required":true},"responses":{"200":{"description":"Measurement Form was updated successfully","content":{"application/json":{"schema":{"type":"object"}}}},"404":{"description":"Invalid work item number","content":{}},"403":{"description":"Work Item access denied","content":{}},"400":{"description":"- MeasurementBatch not found\r\n- MeasurementSet not found\r\n- MeasurementPoint not found\r\n- other","content":{}}},"x-codegen-request-body-name":"model"}},"/api/service/assets/{assetId}/measurements":{"get":{"tags":["ServiceOrderItemMeasurements"],"operationId":"GetMeasurementsByAsset_get_2","parameters":[{"name":"assetId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"from","in":"query","schema":{"type":"string","format":"date-time"}},{"name":"to","in":"query","schema":{"type":"string","format":"date-time"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Qualer.Api.Models.Measurements.To.MeasurementRecordResponseModel"}}}}}}}},"/api/service/workitems/{workItemId}/parts":{"get":{"tags":["ServiceOrderItemParts"],"operationId":"GetWorkItemParts","parameters":[{"name":"workItemId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Qualer.Api.Models.ServiceOrderItemParts.To.OrderItemPartResponseModel"}}}}}}}},"/api/service/workorders/{serviceOrderId}/workitems":{"get":{"tags":["ServiceOrderItems"],"operationId":"GetWorkItems","parameters":[{"name":"serviceOrderId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Qualer.Api.Models.ServiceOrders.To.ClientOrderItemResponseModel"}}}}}}},"put":{"tags":["ServiceOrderItems"],"summary":"Add work items","operationId":"AddWorkItems","parameters":[{"name":"serviceOrderId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Qualer.Api.Models.ServiceOrders.From.AddWorkItemsModel"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Qualer.Api.Models.ServiceOrders.To.AssetAddResultResponseModel"}}}},"403":{"description":"Order access denied","content":{}},"404":{"description":"Invalid order number","content":{}}},"x-codegen-request-body-name":"model"}},"/api/service/workitems":{"get":{"tags":["ServiceOrderItems"],"summary":"Retrieve work items","description":"Sample request:\r\n            \r\nGET /api/service/workitems\r\n            \r\nGET /api/service/workitems?status=pending\r\n            \r\nGET /api/service/workitems?&amp;status=pending,delayed&amp;companyId=10&amp;from=2010-11-15T10:11:12&amp;to=2011-11-15T10:11:12&amp;workItemNumber=0629-000032-02","operationId":"GetWorkItems_workitems","parameters":[{"name":"status","in":"query","description":"Comma separated list of work item statuses: Pending, Completed, Delayed, InProgress, Withdrawn","schema":{"type":"string"}},{"name":"companyId","in":"query","description":"Filter by Client Company ID","schema":{"type":"integer","format":"int32"}},{"name":"from","in":"query","description":"Retrieve Work Items where CreatedOnUtc greater than From parameter","schema":{"type":"string","format":"date-time"}},{"name":"to","in":"query","description":"Retrieve Work Items where CreatedOnUtc less than To parameter","schema":{"type":"string","format":"date-time"}},{"name":"workItemNumber","in":"query","description":"Filter by CustomOrderNumber or CertificateNumber","schema":{"type":"string"}},{"name":"assetSearch","in":"query","description":"Filter by asset Search keywords: SerialNumber, EquipmentId, AssetTag, AssetUser, LegacyId, AssetName, AssetDescription, ManufacturerPartNumber","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Qualer.Api.Models.ServiceOrders.To.ClientOrderItemResponseModel"}}}}},"400":{"description":"- Missing status\r\n- Invalid status","content":{}}}}},"/api/service/workitems/{workItemId}":{"get":{"tags":["ServiceOrderItems"],"operationId":"GetWorkItem","parameters":[{"name":"workItemId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Qualer.Api.Models.ServiceOrders.To.ClientOrderItemResponseModel"}}}}}},"put":{"tags":["ServiceOrderItems"],"summary":"Update work item","description":"WorkStatus:\r\nPending = 0\r\nInProgress = 1\r\nCompleted = 2\r\nDelayed = 3\r\nWithdrawn = 4\r\nLocked = 5<br />\r\nAsFoundCheck/AsLeftCheck (ChecklistResultStatus):\r\nNotServiced = 0,\r\nFail = 1,\r\nPass = 2<br />\r\nResultStatus/AsFoundResult/AsLeftResult (ServiceResultStatus):\r\nNotAvailable = 0,\r\nFail = 1,\r\nFailAmbiguous = 10,\r\nFailSignificant = 11,\r\nPass = 2,\r\nPassAmbiguous = 20,\r\nPassAdjustment = 21,\r\nDone = 22,","operationId":"SetWorkItem","parameters":[{"name":"workItemId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Qualer.Api.Models.ServiceOrders.From.OrderItemUpdateModel"}}},"required":true},"responses":{"200":{"description":"","content":{"application/json":{"schema":{"type":"object"}}}},"403":{"description":"Order access denied","content":{}},"404":{"description":"Invalid order item number","content":{}}},"x-codegen-request-body-name":"model"}},"/api/service/workitems/{workItemId}/images":{"get":{"tags":["ServiceOrderItems"],"operationId":"GetWorkItemImages","parameters":[{"name":"workItemId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"type":"string"}}}}}}},"post":{"tags":["ServiceOrderItems"],"operationId":"UploadWorkItemImages","parameters":[{"name":"workItemId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object"}}}}}}},"/api/service/workitems/{workItemId}/images/{imageName}":{"get":{"tags":["ServiceOrderItems"],"operationId":"GetWorkItemImage","parameters":[{"name":"workItemId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"imageName","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object"}}}}}},"delete":{"tags":["ServiceOrderItems"],"operationId":"DeleteWorkItemImage","parameters":[{"name":"workItemId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"imageName","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object"}}}}}}},"/api/service/workitems/{workItemId}/charges":{"get":{"tags":["ServiceOrderItems"],"operationId":"GetWorkItemCharges","parameters":[{"name":"workItemId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object"}}}}}},"put":{"tags":["ServiceOrderItems"],"summary":"Apply Service Order Item Charges","description":"Allowed Names:\r\n    OverrideServiceTotal,\r\n    OverridePartsTotal,\r\n    OverrideRepairsTotal","operationId":"PutCharges","parameters":[{"name":"workItemId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Qualer.Api.Models.ServiceOrders.From.ItemChargeUpdateModel"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object"}}}}},"x-codegen-request-body-name":"model"}},"/api/service/workitems/{workItemId}/tasks":{"get":{"tags":["ServiceOrderItemTasks"],"operationId":"GetWorkItemTasks","parameters":[{"name":"workItemId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object"}}}}}},"post":{"tags":["ServiceOrderItemTasks"],"operationId":"CreateWorkItemTask","parameters":[{"name":"workItemId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Qualer.Api.Models.ServiceOrderItemTasks.From.ServiceOrderItemTaskCreateModel"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object"}}}}},"x-codegen-request-body-name":"model"}},"/api/service/workitems/{workItemId}/tasks/{taskId}":{"get":{"tags":["ServiceOrderItemTasks"],"operationId":"GetWorkItemTask","parameters":[{"name":"workItemId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"taskId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object"}}}}}},"delete":{"tags":["ServiceOrderItemTasks"],"operationId":"DeleteWorkItemTask","parameters":[{"name":"workItemId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"taskId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object"}}}}}}},"/api/service/workorders/{serviceOrderId}/metadata":{"get":{"tags":["ServiceOrderMetadata"],"summary":"Get list of metadata","operationId":"Get_get_6","parameters":[{"name":"serviceOrderId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object"}}}}}},"put":{"tags":["ServiceOrderMetadata"],"summary":"Update metadata","operationId":"Update_put_2","parameters":[{"name":"serviceOrderId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Qualer.Api.Models.ServiceOrders.From.ServiceOrderMetadataUpdateModel"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object"}}}}},"x-codegen-request-body-name":"model"},"post":{"tags":["ServiceOrderMetadata"],"summary":"Create metadata","operationId":"Create_post_2","parameters":[{"name":"serviceOrderId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Qualer.Api.Models.ServiceOrders.From.ServiceOrderMetadataCreateModel"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object"}}}}},"x-codegen-request-body-name":"model"}},"/api/service/workorders/{serviceOrderId}/metadata/{serviceOrderMetadataId}":{"delete":{"tags":["ServiceOrderMetadata"],"summary":"Delete metadata","operationId":"Delete_delete_2","parameters":[{"name":"serviceOrderId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"serviceOrderMetadataId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object"}}}}}}},"/api/service/workorders/{serviceOrderId}/parts":{"get":{"tags":["ServiceOrderParts"],"operationId":"GetWorkOrderParts","parameters":[{"name":"serviceOrderId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"Returns an array of Work Order tasks","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Qualer.Api.Models.ServiceOrders.To.ServiceOrderPartRepairResponse"}}}}},"403":{"description":"","content":{}},"404":{"description":"","content":{}}}},"put":{"tags":["ServiceOrderParts"],"description":"ServiceOrderChargeType: Part, Labor, Charge","operationId":"UpdateWorkOrderParts","parameters":[{"name":"serviceOrderId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Qualer.Web.Mvc.Areas.Api.Models.ServiceOrders.From.ServiceOrderPartRepairUpdateModel"}}},"required":true},"responses":{"204":{"description":"","content":{"application/json":{"schema":{"type":"object"}}}},"403":{"description":"","content":{}},"404":{"description":"","content":{}}},"x-codegen-request-body-name":"model"},"post":{"tags":["ServiceOrderParts"],"description":"ServiceOrderChargeType: Part, Labor, Charge","operationId":"CreateWorkOrderParts","parameters":[{"name":"serviceOrderId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Qualer.Web.Mvc.Areas.Api.Models.ServiceOrders.From.ServiceOrderPartRepairCreateModel"}}},"required":true},"responses":{"204":{"description":"","content":{"application/json":{"schema":{"type":"object"}}}},"403":{"description":"","content":{}},"404":{"description":"","content":{}}},"x-codegen-request-body-name":"model"}},"/api/service/workorders/{serviceOrderId}/parts/{serviceOrderItemPartId}":{"delete":{"tags":["ServiceOrderParts"],"operationId":"DeleteWorkOrderTask","parameters":[{"name":"serviceOrderId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"serviceOrderItemPartId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"204":{"description":"","content":{"application/json":{"schema":{"type":"object"}}}},"403":{"description":"","content":{}},"404":{"description":"","content":{}}}}},"/api/service/workorders/payments/{serviceOrderPaymentId}":{"get":{"tags":["ServiceOrderPayments"],"operationId":"GetWorkOrderPayment","parameters":[{"name":"serviceOrderPaymentId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Qualer.Api.Models.ServiceOrders.To.PaymentResponseModel"}}}}}}},"/api/service/workorders/{serviceOrderId}/payments":{"get":{"tags":["ServiceOrderPayments"],"operationId":"GetAllWorkOrderPayments","parameters":[{"name":"serviceOrderId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Qualer.Api.Models.ServiceOrders.To.PaymentResponseModel"}}}}}}},"post":{"tags":["ServiceOrderPayments"],"operationId":"CreateWorkOrderPayment","parameters":[{"name":"serviceOrderId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Qualer.Api.Models.ServiceOrders.From.AddPaymentModel"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Qualer.Api.Models.ServiceOrders.To.CreatedWorkOrderPaymentResponse"}}}}},"x-codegen-request-body-name":"model"}},"/api/service/workorders/{serviceOrderId}/payments/status":{"put":{"tags":["ServiceOrderPayments"],"operationId":"ChangeWorkOrderPaymentStatus","parameters":[{"name":"serviceOrderId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Qualer.Api.Models.ServiceOrders.From.UpdatePaymentStatusModel"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object"}}}}},"x-codegen-request-body-name":"model"}},"/api/service/workorders":{"get":{"tags":["ServiceOrders"],"summary":"Retrieve work orders by filters","description":"Sample request:\r\n            \r\nGET /api/service/workorders\r\n            \r\nGET /api/service/workorders?status=submitted\r\n            \r\nGET /api/service/workorders?&amp;status=onsite,submitted&amp;companyId=10&amp;from=2010-11-15T10:11:12&amp;to=2011-11-15T10:11:12&amp;modifiedAfter=2010-12-15T10:11:12&amp;workOrderNumber=00567","operationId":"GetWorkOrders","parameters":[{"name":"status","in":"query","description":"Comma separated list of statuses.\r\n             Order statuses: WaitingForApproval, Submitted, Processing, QualityControl, Cancelled, WaitingForClientSignOff, Completed, Denied, Delayed, Scheduling, Closed, WaitingForVendorSignOff, DelayedApproval.\r\n             Payment statuses: NotInvoiced, Invoiced, PartiallyPaid, PaidInFull, NoCharge, Overpaid.\r\n             Shipment statuses: Delivered, Shipped, PartialShipment, NotShipped, PickUp, OnSite.","schema":{"type":"string"}},{"name":"companyId","in":"query","description":"Filter by Client Company ID","schema":{"type":"integer","format":"int32"}},{"name":"from","in":"query","description":"Retrieve Work Orders where LastUpdatedOn greater than From parameter","schema":{"type":"string","format":"date-time"}},{"name":"to","in":"query","description":"Retrieve Work Orders where LastUpdatedOn less than To parameter","schema":{"type":"string","format":"date-time"}},{"name":"modifiedAfter","in":"query","description":"Retrieve Work Orders where LastUpdatedOn greater than ModifiedAfter parameter","schema":{"type":"string","format":"date-time"}},{"name":"workOrderNumber","in":"query","description":"Filter by WorkOrderNumber","schema":{"type":"string"}},{"name":"assignedEmployees","in":"query","description":"Comma separated list of assigned employees (using full name, alias or login email of the employee)","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Qualer.Api.Models.ServiceOrders.To.ClientOrderResponseModel"}}}}},"400":{"description":"- Missing status\r\n- Invalid status","content":{}}}},"post":{"tags":["ServiceOr
[...]
