# coding: utf-8

"""
    Qualer.Web.Mvc

    No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)  # noqa: E501

    OpenAPI spec version: v1
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from qualer_sdk.api_client import ApiClient


class ClientAssetsApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def client_assets_create_asset(self, body, **kwargs):  # noqa: E501
        """client_assets_create_asset  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.client_assets_create_asset(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param QualerApiModelsClientsFromAssetModel body: (required)
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.client_assets_create_asset_with_http_info(body, **kwargs)  # noqa: E501
        else:
            (data) = self.client_assets_create_asset_with_http_info(body, **kwargs)  # noqa: E501
            return data

    def client_assets_create_asset_with_http_info(self, body, **kwargs):  # noqa: E501
        """client_assets_create_asset  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.client_assets_create_asset_with_http_info(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param QualerApiModelsClientsFromAssetModel body: (required)
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method client_assets_create_asset" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `client_assets_create_asset`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}
        if 'site_id' in params:
            form_params.append(('SiteId', params['site_id']))  # noqa: E501
        if 'product_id' in params:
            form_params.append(('ProductId', params['product_id']))  # noqa: E501
        if 'manufacturer' in params:
            form_params.append(('Manufacturer', params['manufacturer']))  # noqa: E501
        if 'manufacturer_part_number' in params:
            form_params.append(('ManufacturerPartNumber', params['manufacturer_part_number']))  # noqa: E501
        if 'category_id' in params:
            form_params.append(('CategoryId', params['category_id']))  # noqa: E501
        if 'serial_number' in params:
            form_params.append(('SerialNumber', params['serial_number']))  # noqa: E501
        if 'asset_tag' in params:
            form_params.append(('AssetTag', params['asset_tag']))  # noqa: E501
        if 'asset_user' in params:
            form_params.append(('AssetUser', params['asset_user']))  # noqa: E501
        if 'asset_status' in params:
            form_params.append(('AssetStatus', params['asset_status']))  # noqa: E501
        if 'asset_name' in params:
            form_params.append(('AssetName', params['asset_name']))  # noqa: E501
        if 'asset_description' in params:
            form_params.append(('AssetDescription', params['asset_description']))  # noqa: E501
        if 'asset_maker' in params:
            form_params.append(('AssetMaker', params['asset_maker']))  # noqa: E501
        if 'location' in params:
            form_params.append(('Location', params['location']))  # noqa: E501
        if 'retirement_reason' in params:
            form_params.append(('RetirementReason', params['retirement_reason']))  # noqa: E501
        if 'barcode' in params:
            form_params.append(('Barcode', params['barcode']))  # noqa: E501
        if 'legacy_identifier' in params:
            form_params.append(('LegacyIdentifier', params['legacy_identifier']))  # noqa: E501
        if 'condition' in params:
            form_params.append(('Condition', params['condition']))  # noqa: E501
        if 'criticality' in params:
            form_params.append(('Criticality', params['criticality']))  # noqa: E501
        if 'purchase_date' in params:
            form_params.append(('PurchaseDate', params['purchase_date']))  # noqa: E501
        if 'purchase_cost' in params:
            form_params.append(('PurchaseCost', params['purchase_cost']))  # noqa: E501
        if 'life_span_months' in params:
            form_params.append(('LifeSpanMonths', params['life_span_months']))  # noqa: E501
        if 'activation_date' in params:
            form_params.append(('ActivationDate', params['activation_date']))  # noqa: E501
        if 'depreciation_basis' in params:
            form_params.append(('DepreciationBasis', params['depreciation_basis']))  # noqa: E501
        if 'depreciation_method' in params:
            form_params.append(('DepreciationMethod', params['depreciation_method']))  # noqa: E501
        if 'retirement_date' in params:
            form_params.append(('RetirementDate', params['retirement_date']))  # noqa: E501
        if 'salvage_value' in params:
            form_params.append(('SalvageValue', params['salvage_value']))  # noqa: E501

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json', 'text/json', 'application/xml', 'text/xml'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json', 'text/json', 'application/xml', 'text/xml', 'application/x-www-form-urlencoded'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/api/service/clients/assets', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='object',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def client_assets_create_asset(self, site_id, product_id, manufacturer, manufacturer_part_number, category_id, serial_number, asset_tag, asset_user, asset_status, asset_name, asset_description, asset_maker, location, retirement_reason, barcode, legacy_identifier, condition, criticality, purchase_date, purchase_cost, life_span_months, activation_date, depreciation_basis, depreciation_method, retirement_date, salvage_value, **kwargs):  # noqa: E501
        """client_assets_create_asset  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.client_assets_create_asset(site_id, product_id, manufacturer, manufacturer_part_number, category_id, serial_number, asset_tag, asset_user, asset_status, asset_name, asset_description, asset_maker, location, retirement_reason, barcode, legacy_identifier, condition, criticality, purchase_date, purchase_cost, life_span_months, activation_date, depreciation_basis, depreciation_method, retirement_date, salvage_value, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int site_id: (required)
        :param int product_id: (required)
        :param str manufacturer: (required)
        :param str manufacturer_part_number: (required)
        :param int category_id: (required)
        :param str serial_number: (required)
        :param str asset_tag: (required)
        :param str asset_user: (required)
        :param str asset_status: (required)
        :param str asset_name: (required)
        :param str asset_description: (required)
        :param str asset_maker: (required)
        :param str location: (required)
        :param str retirement_reason: (required)
        :param str barcode: (required)
        :param str legacy_identifier: (required)
        :param str condition: (required)
        :param str criticality: (required)
        :param datetime purchase_date: (required)
        :param float purchase_cost: (required)
        :param int life_span_months: (required)
        :param datetime activation_date: (required)
        :param float depreciation_basis: (required)
        :param int depreciation_method: (required)
        :param datetime retirement_date: (required)
        :param float salvage_value: (required)
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.client_assets_create_asset_with_http_info(site_id, product_id, manufacturer, manufacturer_part_number, category_id, serial_number, asset_tag, asset_user, asset_status, asset_name, asset_description, asset_maker, location, retirement_reason, barcode, legacy_identifier, condition, criticality, purchase_date, purchase_cost, life_span_months, activation_date, depreciation_basis, depreciation_method, retirement_date, salvage_value, **kwargs)  # noqa: E501
        else:
            (data) = self.client_assets_create_asset_with_http_info(site_id, product_id, manufacturer, manufacturer_part_number, category_id, serial_number, asset_tag, asset_user, asset_status, asset_name, asset_description, asset_maker, location, retirement_reason, barcode, legacy_identifier, condition, criticality, purchase_date, purchase_cost, life_span_months, activation_date, depreciation_basis, depreciation_method, retirement_date, salvage_value, **kwargs)  # noqa: E501
            return data

    def client_assets_create_asset_with_http_info(self, site_id, product_id, manufacturer, manufacturer_part_number, category_id, serial_number, asset_tag, asset_user, asset_status, asset_name, asset_description, asset_maker, location, retirement_reason, barcode, legacy_identifier, condition, criticality, purchase_date, purchase_cost, life_span_months, activation_date, depreciation_basis, depreciation_method, retirement_date, salvage_value, **kwargs):  # noqa: E501
        """client_assets_create_asset  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.client_assets_create_asset_with_http_info(site_id, product_id, manufacturer, manufacturer_part_number, category_id, serial_number, asset_tag, asset_user, asset_status, asset_name, asset_description, asset_maker, location, retirement_reason, barcode, legacy_identifier, condition, criticality, purchase_date, purchase_cost, life_span_months, activation_date, depreciation_basis, depreciation_method, retirement_date, salvage_value, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int site_id: (required)
        :param int product_id: (required)
        :param str manufacturer: (required)
        :param str manufacturer_part_number: (required)
        :param int category_id: (required)
        :param str serial_number: (required)
        :param str asset_tag: (required)
        :param str asset_user: (required)
        :param str asset_status: (required)
        :param str asset_name: (required)
        :param str asset_description: (required)
        :param str asset_maker: (required)
        :param str location: (required)
        :param str retirement_reason: (required)
        :param str barcode: (required)
        :param str legacy_identifier: (required)
        :param str condition: (required)
        :param str criticality: (required)
        :param datetime purchase_date: (required)
        :param float purchase_cost: (required)
        :param int life_span_months: (required)
        :param datetime activation_date: (required)
        :param float depreciation_basis: (required)
        :param int depreciation_method: (required)
        :param datetime retirement_date: (required)
        :param float salvage_value: (required)
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['site_id', 'product_id', 'manufacturer', 'manufacturer_part_number', 'category_id', 'serial_number', 'asset_tag', 'asset_user', 'asset_status', 'asset_name', 'asset_description', 'asset_maker', 'location', 'retirement_reason', 'barcode', 'legacy_identifier', 'condition', 'criticality', 'purchase_date', 'purchase_cost', 'life_span_months', 'activation_date', 'depreciation_basis', 'depreciation_method', 'retirement_date', 'salvage_value']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method client_assets_create_asset" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'site_id' is set
        if ('site_id' not in params or
                params['site_id'] is None):
            raise ValueError("Missing the required parameter `site_id` when calling `client_assets_create_asset`")  # noqa: E501
        # verify the required parameter 'product_id' is set
        if ('product_id' not in params or
                params['product_id'] is None):
            raise ValueError("Missing the required parameter `product_id` when calling `client_assets_create_asset`")  # noqa: E501
        # verify the required parameter 'manufacturer' is set
        if ('manufacturer' not in params or
                params['manufacturer'] is None):
            raise ValueError("Missing the required parameter `manufacturer` when calling `client_assets_create_asset`")  # noqa: E501
        # verify the required parameter 'manufacturer_part_number' is set
        if ('manufacturer_part_number' not in params or
                params['manufacturer_part_number'] is None):
            raise ValueError("Missing the required parameter `manufacturer_part_number` when calling `client_assets_create_asset`")  # noqa: E501
        # verify the required parameter 'category_id' is set
        if ('category_id' not in params or
                params['category_id'] is None):
            raise ValueError("Missing the required parameter `category_id` when calling `client_assets_create_asset`")  # noqa: E501
        # verify the required parameter 'serial_number' is set
        if ('serial_number' not in params or
                params['serial_number'] is None):
            raise ValueError("Missing the required parameter `serial_number` when calling `client_assets_create_asset`")  # noqa: E501
        # verify the required parameter 'asset_tag' is set
        if ('asset_tag' not in params or
                params['asset_tag'] is None):
            raise ValueError("Missing the required parameter `asset_tag` when calling `client_assets_create_asset`")  # noqa: E501
        # verify the required parameter 'asset_user' is set
        if ('asset_user' not in params or
                params['asset_user'] is None):
            raise ValueError("Missing the required parameter `asset_user` when calling `client_assets_create_asset`")  # noqa: E501
        # verify the required parameter 'asset_status' is set
        if ('asset_status' not in params or
                params['asset_status'] is None):
            raise ValueError("Missing the required parameter `asset_status` when calling `client_assets_create_asset`")  # noqa: E501
        # verify the required parameter 'asset_name' is set
        if ('asset_name' not in params or
                params['asset_name'] is None):
            raise ValueError("Missing the required parameter `asset_name` when calling `client_assets_create_asset`")  # noqa: E501
        # verify the required parameter 'asset_description' is set
        if ('asset_description' not in params or
                params['asset_description'] is None):
            raise ValueError("Missing the required parameter `asset_description` when calling `client_assets_create_asset`")  # noqa: E501
        # verify the required parameter 'asset_maker' is set
        if ('asset_maker' not in params or
                params['asset_maker'] is None):
            raise ValueError("Missing the required parameter `asset_maker` when calling `client_assets_create_asset`")  # noqa: E501
        # verify the required parameter 'location' is set
        if ('location' not in params or
                params['location'] is None):
            raise ValueError("Missing the required parameter `location` when calling `client_assets_create_asset`")  # noqa: E501
        # verify the required parameter 'retirement_reason' is set
        if ('retirement_reason' not in params or
                params['retirement_reason'] is None):
            raise ValueError("Missing the required parameter `retirement_reason` when calling `client_assets_create_asset`")  # noqa: E501
        # verify the required parameter 'barcode' is set
        if ('barcode' not in params or
                params['barcode'] is None):
            raise ValueError("Missing the required parameter `barcode` when calling `client_assets_create_asset`")  # noqa: E501
        # verify the required parameter 'legacy_identifier' is set
        if ('legacy_identifier' not in params or
                params['legacy_identifier'] is None):
            raise ValueError("Missing the required parameter `legacy_identifier` when calling `client_assets_create_asset`")  # noqa: E501
        # verify the required parameter 'condition' is set
        if ('condition' not in params or
                params['condition'] is None):
            raise ValueError("Missing the required parameter `condition` when calling `client_assets_create_asset`")  # noqa: E501
        # verify the required parameter 'criticality' is set
        if ('criticality' not in params or
                params['criticality'] is None):
            raise ValueError("Missing the required parameter `criticality` when calling `client_assets_create_asset`")  # noqa: E501
        # verify the required parameter 'purchase_date' is set
        if ('purchase_date' not in params or
                params['purchase_date'] is None):
            raise ValueError("Missing the required parameter `purchase_date` when calling `client_assets_create_asset`")  # noqa: E501
        # verify the required parameter 'purchase_cost' is set
        if ('purchase_cost' not in params or
                params['purchase_cost'] is None):
            raise ValueError("Missing the required parameter `purchase_cost` when calling `client_assets_create_asset`")  # noqa: E501
        # verify the required parameter 'life_span_months' is set
        if ('life_span_months' not in params or
                params['life_span_months'] is None):
            raise ValueError("Missing the required parameter `life_span_months` when calling `client_assets_create_asset`")  # noqa: E501
        # verify the required parameter 'activation_date' is set
        if ('activation_date' not in params or
                params['activation_date'] is None):
            raise ValueError("Missing the required parameter `activation_date` when calling `client_assets_create_asset`")  # noqa: E501
        # verify the required parameter 'depreciation_basis' is set
        if ('depreciation_basis' not in params or
                params['depreciation_basis'] is None):
            raise ValueError("Missing the required parameter `depreciation_basis` when calling `client_assets_create_asset`")  # noqa: E501
        # verify the required parameter 'depreciation_method' is set
        if ('depreciation_method' not in params or
                params['depreciation_method'] is None):
            raise ValueError("Missing the required parameter `depreciation_method` when calling `client_assets_create_asset`")  # noqa: E501
        # verify the required parameter 'retirement_date' is set
        if ('retirement_date' not in params or
                params['retirement_date'] is None):
            raise ValueError("Missing the required parameter `retirement_date` when calling `client_assets_create_asset`")  # noqa: E501
        # verify the required parameter 'salvage_value' is set
        if ('salvage_value' not in params or
                params['salvage_value'] is None):
            raise ValueError("Missing the required parameter `salvage_value` when calling `client_assets_create_asset`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}
        if 'site_id' in params:
            form_params.append(('SiteId', params['site_id']))  # noqa: E501
        if 'product_id' in params:
            form_params.append(('ProductId', params['product_id']))  # noqa: E501
        if 'manufacturer' in params:
            form_params.append(('Manufacturer', params['manufacturer']))  # noqa: E501
        if 'manufacturer_part_number' in params:
            form_params.append(('ManufacturerPartNumber', params['manufacturer_part_number']))  # noqa: E501
        if 'category_id' in params:
            form_params.append(('CategoryId', params['category_id']))  # noqa: E501
        if 'serial_number' in params:
            form_params.append(('SerialNumber', params['serial_number']))  # noqa: E501
        if 'asset_tag' in params:
            form_params.append(('AssetTag', params['asset_tag']))  # noqa: E501
        if 'asset_user' in params:
            form_params.append(('AssetUser', params['asset_user']))  # noqa: E501
        if 'asset_status' in params:
            form_params.append(('AssetStatus', params['asset_status']))  # noqa: E501
        if 'asset_name' in params:
            form_params.append(('AssetName', params['asset_name']))  # noqa: E501
        if 'asset_description' in params:
            form_params.append(('AssetDescription', params['asset_description']))  # noqa: E501
        if 'asset_maker' in params:
            form_params.append(('AssetMaker', params['asset_maker']))  # noqa: E501
        if 'location' in params:
            form_params.append(('Location', params['location']))  # noqa: E501
        if 'retirement_reason' in params:
            form_params.append(('RetirementReason', params['retirement_reason']))  # noqa: E501
        if 'barcode' in params:
            form_params.append(('Barcode', params['barcode']))  # noqa: E501
        if 'legacy_identifier' in params:
            form_params.append(('LegacyIdentifier', params['legacy_identifier']))  # noqa: E501
        if 'condition' in params:
            form_params.append(('Condition', params['condition']))  # noqa: E501
        if 'criticality' in params:
            form_params.append(('Criticality', params['criticality']))  # noqa: E501
        if 'purchase_date' in params:
            form_params.append(('PurchaseDate', params['purchase_date']))  # noqa: E501
        if 'purchase_cost' in params:
            form_params.append(('PurchaseCost', params['purchase_cost']))  # noqa: E501
        if 'life_span_months' in params:
            form_params.append(('LifeSpanMonths', params['life_span_months']))  # noqa: E501
        if 'activation_date' in params:
            form_params.append(('ActivationDate', params['activation_date']))  # noqa: E501
        if 'depreciation_basis' in params:
            form_params.append(('DepreciationBasis', params['depreciation_basis']))  # noqa: E501
        if 'depreciation_method' in params:
            form_params.append(('DepreciationMethod', params['depreciation_method']))  # noqa: E501
        if 'retirement_date' in params:
            form_params.append(('RetirementDate', params['retirement_date']))  # noqa: E501
        if 'salvage_value' in params:
            form_params.append(('SalvageValue', params['salvage_value']))  # noqa: E501

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json', 'text/json', 'application/xml', 'text/xml'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json', 'text/json', 'application/xml', 'text/xml', 'application/x-www-form-urlencoded'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/api/service/clients/assets', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='object',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def client_assets_get_all_assets(self, **kwargs):  # noqa: E501
        """client_assets_get_all_assets  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.client_assets_get_all_assets(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str query_equipment_id:
        :param str query_serial_number:
        :param str query_asset_tag:
        :param str query_barcode:
        :param str query_legacy_id:
        :return: list[QualerApiModelsAssetToAssetResponseModel]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.client_assets_get_all_assets_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.client_assets_get_all_assets_with_http_info(**kwargs)  # noqa: E501
            return data

    def client_assets_get_all_assets_with_http_info(self, **kwargs):  # noqa: E501
        """client_assets_get_all_assets  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.client_assets_get_all_assets_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str query_equipment_id:
        :param str query_serial_number:
        :param str query_asset_tag:
        :param str query_barcode:
        :param str query_legacy_id:
        :return: list[QualerApiModelsAssetToAssetResponseModel]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['query_equipment_id', 'query_serial_number', 'query_asset_tag', 'query_barcode', 'query_legacy_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method client_assets_get_all_assets" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'query_equipment_id' in params:
            query_params.append(('query.equipmentId', params['query_equipment_id']))  # noqa: E501
        if 'query_serial_number' in params:
            query_params.append(('query.serialNumber', params['query_serial_number']))  # noqa: E501
        if 'query_asset_tag' in params:
            query_params.append(('query.assetTag', params['query_asset_tag']))  # noqa: E501
        if 'query_barcode' in params:
            query_params.append(('query.barcode', params['query_barcode']))  # noqa: E501
        if 'query_legacy_id' in params:
            query_params.append(('query.legacyId', params['query_legacy_id']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json', 'text/json', 'application/xml', 'text/xml'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/api/service/clients/assets', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[QualerApiModelsAssetToAssetResponseModel]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def client_assets_get_asset(self, asset_id, **kwargs):  # noqa: E501
        """client_assets_get_asset  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.client_assets_get_asset(asset_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str asset_id: (required)
        :param int model_asset_id:
        :return: QualerApiModelsAssetToAssetResponseModel
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.client_assets_get_asset_with_http_info(asset_id, **kwargs)  # noqa: E501
        else:
            (data) = self.client_assets_get_asset_with_http_info(asset_id, **kwargs)  # noqa: E501
            return data

    def client_assets_get_asset_with_http_info(self, asset_id, **kwargs):  # noqa: E501
        """client_assets_get_asset  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.client_assets_get_asset_with_http_info(asset_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str asset_id: (required)
        :param int model_asset_id:
        :return: QualerApiModelsAssetToAssetResponseModel
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['asset_id', 'model_asset_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method client_assets_get_asset" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'asset_id' is set
        if ('asset_id' not in params or
                params['asset_id'] is None):
            raise ValueError("Missing the required parameter `asset_id` when calling `client_assets_get_asset`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'asset_id' in params:
            query_params.append(('assetId', params['asset_id']))  # noqa: E501
        if 'model_asset_id' in params:
            query_params.append(('model.assetId', params['model_asset_id']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json', 'text/json', 'application/xml', 'text/xml'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/api/service/clients/assets/{AssetId}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='QualerApiModelsAssetToAssetResponseModel',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def client_assets_get_asset_counters(self, client_company_id, **kwargs):  # noqa: E501
        """client_assets_get_asset_counters  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.client_assets_get_asset_counters(client_company_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int client_company_id: (required)
        :return: QualerApiModelsAssetToClientAssetCountersResponseModel
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.client_assets_get_asset_counters_with_http_info(client_company_id, **kwargs)  # noqa: E501
        else:
            (data) = self.client_assets_get_asset_counters_with_http_info(client_company_id, **kwargs)  # noqa: E501
            return data

    def client_assets_get_asset_counters_with_http_info(self, client_company_id, **kwargs):  # noqa: E501
        """client_assets_get_asset_counters  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.client_assets_get_asset_counters_with_http_info(client_company_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int client_company_id: (required)
        :return: QualerApiModelsAssetToClientAssetCountersResponseModel
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['client_company_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method client_assets_get_asset_counters" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'client_company_id' is set
        if ('client_company_id' not in params or
                params['client_company_id'] is None):
            raise ValueError("Missing the required parameter `client_company_id` when calling `client_assets_get_asset_counters`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'client_company_id' in params:
            path_params['clientCompanyId'] = params['client_company_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json', 'text/json', 'application/xml', 'text/xml'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/api/service/clients/{clientCompanyId}/counters', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='QualerApiModelsAssetToClientAssetCountersResponseModel',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def client_assets_get_asset_manager_list(self, client_company_id, **kwargs):  # noqa: E501
        """GetAssetManagerList  # noqa: E501

        assetFilterType: ClientUnset, ClientAssetsCollected, ClientPastDue, ClientDueForService, ClientOutOfService, ClientWithoutSchedule                ClientDueForService - depends on Employee Filter Preference  POST api/user/filters  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.client_assets_get_asset_manager_list(client_company_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int client_company_id: (required)
        :param str query_filter_type:
        :param str query_search_string:
        :param int query_page:
        :param int query_page_size:
        :return: list[QualerApiModelsAssetToClientAssetManagerResponseModel]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.client_assets_get_asset_manager_list_with_http_info(client_company_id, **kwargs)  # noqa: E501
        else:
            (data) = self.client_assets_get_asset_manager_list_with_http_info(client_company_id, **kwargs)  # noqa: E501
            return data

    def client_assets_get_asset_manager_list_with_http_info(self, client_company_id, **kwargs):  # noqa: E501
        """GetAssetManagerList  # noqa: E501

        assetFilterType: ClientUnset, ClientAssetsCollected, ClientPastDue, ClientDueForService, ClientOutOfService, ClientWithoutSchedule                ClientDueForService - depends on Employee Filter Preference  POST api/user/filters  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.client_assets_get_asset_manager_list_with_http_info(client_company_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int client_company_id: (required)
        :param str query_filter_type:
        :param str query_search_string:
        :param int query_page:
        :param int query_page_size:
        :return: list[QualerApiModelsAssetToClientAssetManagerResponseModel]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['client_company_id', 'query_filter_type', 'query_search_string', 'query_page', 'query_page_size']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method client_assets_get_asset_manager_list" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'client_company_id' is set
        if ('client_company_id' not in params or
                params['client_company_id'] is None):
            raise ValueError("Missing the required parameter `client_company_id` when calling `client_assets_get_asset_manager_list`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'client_company_id' in params:
            path_params['clientCompanyId'] = params['client_company_id']  # noqa: E501

        query_params = []
        if 'query_filter_type' in params:
            query_params.append(('query.filterType', params['query_filter_type']))  # noqa: E501
        if 'query_search_string' in params:
            query_params.append(('query.searchString', params['query_search_string']))  # noqa: E501
        if 'query_page' in params:
            query_params.append(('query.page', params['query_page']))  # noqa: E501
        if 'query_page_size' in params:
            query_params.append(('query.pageSize', params['query_page_size']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json', 'text/json', 'application/xml', 'text/xml'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/api/service/clients/{clientCompanyId}/assets/byfilter', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[QualerApiModelsAssetToClientAssetManagerResponseModel]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def client_assets_get_assets(self, client_company_id, **kwargs):  # noqa: E501
        """client_assets_get_assets  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.client_assets_get_assets(client_company_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int client_company_id: (required)
        :param str query_equipment_id:
        :param str query_serial_number:
        :param str query_asset_tag:
        :param str query_barcode:
        :param str query_legacy_id:
        :return: list[QualerApiModelsAssetToAssetResponseModel]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.client_assets_get_assets_with_http_info(client_company_id, **kwargs)  # noqa: E501
        else:
            (data) = self.client_assets_get_assets_with_http_info(client_company_id, **kwargs)  # noqa: E501
            return data

    def client_assets_get_assets_with_http_info(self, client_company_id, **kwargs):  # noqa: E501
        """client_assets_get_assets  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.client_assets_get_assets_with_http_info(client_company_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int client_company_id: (required)
        :param str query_equipment_id:
        :param str query_serial_number:
        :param str query_asset_tag:
        :param str query_barcode:
        :param str query_legacy_id:
        :return: list[QualerApiModelsAssetToAssetResponseModel]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['client_company_id', 'query_equipment_id', 'query_serial_number', 'query_asset_tag', 'query_barcode', 'query_legacy_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method client_assets_get_assets" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'client_company_id' is set
        if ('client_company_id' not in params or
                params['client_company_id'] is None):
            raise ValueError("Missing the required parameter `client_company_id` when calling `client_assets_get_assets`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'client_company_id' in params:
            path_params['clientCompanyId'] = params['client_company_id']  # noqa: E501

        query_params = []
        if 'query_equipment_id' in params:
            query_params.append(('query.equipmentId', params['query_equipment_id']))  # noqa: E501
        if 'query_serial_number' in params:
            query_params.append(('query.serialNumber', params['query_serial_number']))  # noqa: E501
        if 'query_asset_tag' in params:
            query_params.append(('query.assetTag', params['query_asset_tag']))  # noqa: E501
        if 'query_barcode' in params:
            query_params.append(('query.barcode', params['query_barcode']))  # noqa: E501
        if 'query_legacy_id' in params:
            query_params.append(('query.legacyId', params['query_legacy_id']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json', 'text/json', 'application/xml', 'text/xml'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/api/service/clients/{clientCompanyId}/assets', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[QualerApiModelsAssetToAssetResponseModel]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
