# coding: utf-8

"""
    Qualer.Web.Mvc

    No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)  # noqa: E501

    OpenAPI spec version: v1
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from swagger_client.api_client import ApiClient


class ClientEmployeesApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def client_employees_create_employee(self, body, **kwargs):  # noqa: E501
        """client_employees_create_employee  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.client_employees_create_employee(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param QualerApiModelsClientsFromSponsoredEmployeeModel body: (required)
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.client_employees_create_employee_with_http_info(body, **kwargs)  # noqa: E501
        else:
            (data) = self.client_employees_create_employee_with_http_info(body, **kwargs)  # noqa: E501
            return data

    def client_employees_create_employee_with_http_info(self, body, **kwargs):  # noqa: E501
        """client_employees_create_employee  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.client_employees_create_employee_with_http_info(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param QualerApiModelsClientsFromSponsoredEmployeeModel body: (required)
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method client_employees_create_employee" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `client_employees_create_employee`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}
        if 'client_company_id' in params:
            form_params.append(('ClientCompanyId', params['client_company_id']))  # noqa: E501
        if 'first_name' in params:
            form_params.append(('FirstName', params['first_name']))  # noqa: E501
        if 'last_name' in params:
            form_params.append(('LastName', params['last_name']))  # noqa: E501
        if 'login_email' in params:
            form_params.append(('LoginEmail', params['login_email']))  # noqa: E501
        if 'password' in params:
            form_params.append(('Password', params['password']))  # noqa: E501
        if 'subscription_email' in params:
            form_params.append(('SubscriptionEmail', params['subscription_email']))  # noqa: E501
        if 'mobile_phone' in params:
            form_params.append(('MobilePhone', params['mobile_phone']))  # noqa: E501
        if 'office_phone' in params:
            form_params.append(('OfficePhone', params['office_phone']))  # noqa: E501

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json', 'text/json', 'application/xml', 'text/xml'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json', 'text/json', 'application/xml', 'text/xml', 'application/x-www-form-urlencoded'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/api/service/clients/employees', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='object',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def client_employees_create_employee(self, client_company_id, first_name, last_name, login_email, password, subscription_email, mobile_phone, office_phone, **kwargs):  # noqa: E501
        """client_employees_create_employee  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.client_employees_create_employee(client_company_id, first_name, last_name, login_email, password, subscription_email, mobile_phone, office_phone, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int client_company_id: (required)
        :param str first_name: (required)
        :param str last_name: (required)
        :param str login_email: (required)
        :param str password: (required)
        :param str subscription_email: (required)
        :param str mobile_phone: (required)
        :param str office_phone: (required)
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.client_employees_create_employee_with_http_info(client_company_id, first_name, last_name, login_email, password, subscription_email, mobile_phone, office_phone, **kwargs)  # noqa: E501
        else:
            (data) = self.client_employees_create_employee_with_http_info(client_company_id, first_name, last_name, login_email, password, subscription_email, mobile_phone, office_phone, **kwargs)  # noqa: E501
            return data

    def client_employees_create_employee_with_http_info(self, client_company_id, first_name, last_name, login_email, password, subscription_email, mobile_phone, office_phone, **kwargs):  # noqa: E501
        """client_employees_create_employee  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.client_employees_create_employee_with_http_info(client_company_id, first_name, last_name, login_email, password, subscription_email, mobile_phone, office_phone, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int client_company_id: (required)
        :param str first_name: (required)
        :param str last_name: (required)
        :param str login_email: (required)
        :param str password: (required)
        :param str subscription_email: (required)
        :param str mobile_phone: (required)
        :param str office_phone: (required)
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['client_company_id', 'first_name', 'last_name', 'login_email', 'password', 'subscription_email', 'mobile_phone', 'office_phone']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method client_employees_create_employee" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'client_company_id' is set
        if ('client_company_id' not in params or
                params['client_company_id'] is None):
            raise ValueError("Missing the required parameter `client_company_id` when calling `client_employees_create_employee`")  # noqa: E501
        # verify the required parameter 'first_name' is set
        if ('first_name' not in params or
                params['first_name'] is None):
            raise ValueError("Missing the required parameter `first_name` when calling `client_employees_create_employee`")  # noqa: E501
        # verify the required parameter 'last_name' is set
        if ('last_name' not in params or
                params['last_name'] is None):
            raise ValueError("Missing the required parameter `last_name` when calling `client_employees_create_employee`")  # noqa: E501
        # verify the required parameter 'login_email' is set
        if ('login_email' not in params or
                params['login_email'] is None):
            raise ValueError("Missing the required parameter `login_email` when calling `client_employees_create_employee`")  # noqa: E501
        # verify the required parameter 'password' is set
        if ('password' not in params or
                params['password'] is None):
            raise ValueError("Missing the required parameter `password` when calling `client_employees_create_employee`")  # noqa: E501
        # verify the required parameter 'subscription_email' is set
        if ('subscription_email' not in params or
                params['subscription_email'] is None):
            raise ValueError("Missing the required parameter `subscription_email` when calling `client_employees_create_employee`")  # noqa: E501
        # verify the required parameter 'mobile_phone' is set
        if ('mobile_phone' not in params or
                params['mobile_phone'] is None):
            raise ValueError("Missing the required parameter `mobile_phone` when calling `client_employees_create_employee`")  # noqa: E501
        # verify the required parameter 'office_phone' is set
        if ('office_phone' not in params or
                params['office_phone'] is None):
            raise ValueError("Missing the required parameter `office_phone` when calling `client_employees_create_employee`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}
        if 'client_company_id' in params:
            form_params.append(('ClientCompanyId', params['client_company_id']))  # noqa: E501
        if 'first_name' in params:
            form_params.append(('FirstName', params['first_name']))  # noqa: E501
        if 'last_name' in params:
            form_params.append(('LastName', params['last_name']))  # noqa: E501
        if 'login_email' in params:
            form_params.append(('LoginEmail', params['login_email']))  # noqa: E501
        if 'password' in params:
            form_params.append(('Password', params['password']))  # noqa: E501
        if 'subscription_email' in params:
            form_params.append(('SubscriptionEmail', params['subscription_email']))  # noqa: E501
        if 'mobile_phone' in params:
            form_params.append(('MobilePhone', params['mobile_phone']))  # noqa: E501
        if 'office_phone' in params:
            form_params.append(('OfficePhone', params['office_phone']))  # noqa: E501

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json', 'text/json', 'application/xml', 'text/xml'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json', 'text/json', 'application/xml', 'text/xml', 'application/x-www-form-urlencoded'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/api/service/clients/employees', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='object',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def client_employees_get_employee(self, employee_id, **kwargs):  # noqa: E501
        """client_employees_get_employee  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.client_employees_get_employee(employee_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str employee_id: (required)
        :param int model_employee_id:
        :return: QualerApiModelsClientsToEmployeeResponseModel
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.client_employees_get_employee_with_http_info(employee_id, **kwargs)  # noqa: E501
        else:
            (data) = self.client_employees_get_employee_with_http_info(employee_id, **kwargs)  # noqa: E501
            return data

    def client_employees_get_employee_with_http_info(self, employee_id, **kwargs):  # noqa: E501
        """client_employees_get_employee  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.client_employees_get_employee_with_http_info(employee_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str employee_id: (required)
        :param int model_employee_id:
        :return: QualerApiModelsClientsToEmployeeResponseModel
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['employee_id', 'model_employee_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method client_employees_get_employee" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'employee_id' is set
        if ('employee_id' not in params or
                params['employee_id'] is None):
            raise ValueError("Missing the required parameter `employee_id` when calling `client_employees_get_employee`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'employee_id' in params:
            query_params.append(('employeeId', params['employee_id']))  # noqa: E501
        if 'model_employee_id' in params:
            query_params.append(('model.employeeId', params['model_employee_id']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json', 'text/json', 'application/xml', 'text/xml'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/api/service/clients/employees/{EmployeeId}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='QualerApiModelsClientsToEmployeeResponseModel',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def client_employees_get_employees(self, client_company_id, **kwargs):  # noqa: E501
        """client_employees_get_employees  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.client_employees_get_employees(client_company_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int client_company_id: (required)
        :return: list[QualerApiModelsClientsToEmployeeResponseModel]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.client_employees_get_employees_with_http_info(client_company_id, **kwargs)  # noqa: E501
        else:
            (data) = self.client_employees_get_employees_with_http_info(client_company_id, **kwargs)  # noqa: E501
            return data

    def client_employees_get_employees_with_http_info(self, client_company_id, **kwargs):  # noqa: E501
        """client_employees_get_employees  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.client_employees_get_employees_with_http_info(client_company_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int client_company_id: (required)
        :return: list[QualerApiModelsClientsToEmployeeResponseModel]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['client_company_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method client_employees_get_employees" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'client_company_id' is set
        if ('client_company_id' not in params or
                params['client_company_id'] is None):
            raise ValueError("Missing the required parameter `client_company_id` when calling `client_employees_get_employees`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'client_company_id' in params:
            path_params['clientCompanyId'] = params['client_company_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json', 'text/json', 'application/xml', 'text/xml'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/api/service/clients/{clientCompanyId}/employees', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[QualerApiModelsClientsToEmployeeResponseModel]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def client_employees_send_employee_email(self, body, employee_id, **kwargs):  # noqa: E501
        """client_employees_send_employee_email  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.client_employees_send_employee_email(body, employee_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param QualerApiModelsClientsFromSendEmployeeEmailModel body: (required)
        :param int employee_id: (required)
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.client_employees_send_employee_email_with_http_info(body, employee_id, **kwargs)  # noqa: E501
        else:
            (data) = self.client_employees_send_employee_email_with_http_info(body, employee_id, **kwargs)  # noqa: E501
            return data

    def client_employees_send_employee_email_with_http_info(self, body, employee_id, **kwargs):  # noqa: E501
        """client_employees_send_employee_email  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.client_employees_send_employee_email_with_http_info(body, employee_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param QualerApiModelsClientsFromSendEmployeeEmailModel body: (required)
        :param int employee_id: (required)
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'employee_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method client_employees_send_employee_email" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `client_employees_send_employee_email`")  # noqa: E501
        # verify the required parameter 'employee_id' is set
        if ('employee_id' not in params or
                params['employee_id'] is None):
            raise ValueError("Missing the required parameter `employee_id` when calling `client_employees_send_employee_email`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'employee_id' in params:
            path_params['employeeId'] = params['employee_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}
        if 'subject' in params:
            form_params.append(('Subject', params['subject']))  # noqa: E501
        if 'body' in params:
            form_params.append(('Body', params['body']))  # noqa: E501

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json', 'text/json', 'application/xml', 'text/xml'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json', 'text/json', 'application/xml', 'text/xml', 'application/x-www-form-urlencoded'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/api/service/clients/employees/{employeeId}/sendemail', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='object',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def client_employees_send_employee_email(self, subject, body, employee_id, **kwargs):  # noqa: E501
        """client_employees_send_employee_email  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.client_employees_send_employee_email(subject, body, employee_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str subject: (required)
        :param str body: (required)
        :param int employee_id: (required)
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.client_employees_send_employee_email_with_http_info(subject, body, employee_id, **kwargs)  # noqa: E501
        else:
            (data) = self.client_employees_send_employee_email_with_http_info(subject, body, employee_id, **kwargs)  # noqa: E501
            return data

    def client_employees_send_employee_email_with_http_info(self, subject, body, employee_id, **kwargs):  # noqa: E501
        """client_employees_send_employee_email  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.client_employees_send_employee_email_with_http_info(subject, body, employee_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str subject: (required)
        :param str body: (required)
        :param int employee_id: (required)
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['subject', 'body', 'employee_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method client_employees_send_employee_email" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'subject' is set
        if ('subject' not in params or
                params['subject'] is None):
            raise ValueError("Missing the required parameter `subject` when calling `client_employees_send_employee_email`")  # noqa: E501
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `client_employees_send_employee_email`")  # noqa: E501
        # verify the required parameter 'employee_id' is set
        if ('employee_id' not in params or
                params['employee_id'] is None):
            raise ValueError("Missing the required parameter `employee_id` when calling `client_employees_send_employee_email`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'employee_id' in params:
            path_params['employeeId'] = params['employee_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}
        if 'subject' in params:
            form_params.append(('Subject', params['subject']))  # noqa: E501
        if 'body' in params:
            form_params.append(('Body', params['body']))  # noqa: E501

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json', 'text/json', 'application/xml', 'text/xml'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json', 'text/json', 'application/xml', 'text/xml', 'application/x-www-form-urlencoded'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/api/service/clients/employees/{employeeId}/sendemail', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='object',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
