# coding: utf-8

"""
    Qualer.Web.Mvc

    No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)  # noqa: E501

    OpenAPI spec version: v1
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from swagger_client.api_client import ApiClient


class EmployeeFilterPreferenceApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def employee_filter_preference_get_employee_filter_preferences(self, **kwargs):  # noqa: E501
        """GetEmployeeFilterPreferences  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.employee_filter_preference_get_employee_filter_preferences(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: list[QualerApiModelsAssetToEmployeeFilterPreferenceResponseModel]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.employee_filter_preference_get_employee_filter_preferences_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.employee_filter_preference_get_employee_filter_preferences_with_http_info(**kwargs)  # noqa: E501
            return data

    def employee_filter_preference_get_employee_filter_preferences_with_http_info(self, **kwargs):  # noqa: E501
        """GetEmployeeFilterPreferences  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.employee_filter_preference_get_employee_filter_preferences_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: list[QualerApiModelsAssetToEmployeeFilterPreferenceResponseModel]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = []  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method employee_filter_preference_get_employee_filter_preferences" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json', 'text/json', 'application/xml', 'text/xml'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/api/user/filters', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[QualerApiModelsAssetToEmployeeFilterPreferenceResponseModel]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def employee_filter_preference_update_employee_filter_preference(self, body, **kwargs):  # noqa: E501
        """UpdateEmployeeFilterPreference  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.employee_filter_preference_update_employee_filter_preference(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param QualerApiModelsAssetFromUpdateFilterPreferenceModel body: FilterType: \
DueForService(AssetsDue), RecentlyServiced(AssetsRecentlyServiced), NotServiced(AssetsNotServiced), \
RecentlyPurchased(AssetsRecentlyPurchased), WarrantyExpiring(AssetsWarrantyExpires), \
DueForReplacement(AssetsDueForReplacement), ServicePending(AssetsServicePending) \
            
WithinDays: 30
            
UseDateRange: true, false
            
StartDate: '2020-01-01' optional
            
EndDate: '2020-05-31' optional (required)
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.employee_filter_preference_update_employee_filter_preference_with_http_info(body, **kwargs)  # noqa: E501
        else:
            (data) = self.employee_filter_preference_update_employee_filter_preference_with_http_info(body, **kwargs)  # noqa: E501
            return data

    def employee_filter_preference_update_employee_filter_preference_with_http_info(self, body, **kwargs):  # noqa: E501
        """UpdateEmployeeFilterPreference  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.employee_filter_preference_update_employee_filter_preference_with_http_info(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param QualerApiModelsAssetFromUpdateFilterPreferenceModel body: FilterType: \
DueForService(AssetsDue), RecentlyServiced(AssetsRecentlyServiced), NotServiced(AssetsNotServiced), \
RecentlyPurchased(AssetsRecentlyPurchased), WarrantyExpiring(AssetsWarrantyExpires), \
DueForReplacement(AssetsDueForReplacement), ServicePending(AssetsServicePending) \
            
WithinDays: 30
            
UseDateRange: true, false
            
StartDate: '2020-01-01' optional
            
EndDate: '2020-05-31' optional (required)
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method employee_filter_preference_update_employee_filter_preference" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `employee_filter_preference_update_employee_filter_preference`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}
        if 'filter_type' in params:
            form_params.append(('FilterType', params['filter_type']))  # noqa: E501
        if 'within_days' in params:
            form_params.append(('WithinDays', params['within_days']))  # noqa: E501
        if 'use_date_range' in params:
            form_params.append(('UseDateRange', params['use_date_range']))  # noqa: E501
        if 'start_date' in params:
            form_params.append(('StartDate', params['start_date']))  # noqa: E501
        if 'end_date' in params:
            form_params.append(('EndDate', params['end_date']))  # noqa: E501

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json', 'text/json', 'application/xml', 'text/xml'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json', 'text/json', 'application/xml', 'text/xml', 'application/x-www-form-urlencoded'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/api/user/filters', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='object',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def employee_filter_preference_update_employee_filter_preference(self, filter_type, within_days, use_date_range, start_date, end_date, **kwargs):  # noqa: E501
        """UpdateEmployeeFilterPreference  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.employee_filter_preference_update_employee_filter_preference(filter_type, within_days, use_date_range, start_date, end_date, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str filter_type: (required)
        :param int within_days: (required)
        :param bool use_date_range: (required)
        :param datetime start_date: (required)
        :param datetime end_date: (required)
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.employee_filter_preference_update_employee_filter_preference_with_http_info(filter_type, within_days, use_date_range, start_date, end_date, **kwargs)  # noqa: E501
        else:
            (data) = self.employee_filter_preference_update_employee_filter_preference_with_http_info(filter_type, within_days, use_date_range, start_date, end_date, **kwargs)  # noqa: E501
            return data

    def employee_filter_preference_update_employee_filter_preference_with_http_info(self, filter_type, within_days, use_date_range, start_date, end_date, **kwargs):  # noqa: E501
        """UpdateEmployeeFilterPreference  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.employee_filter_preference_update_employee_filter_preference_with_http_info(filter_type, within_days, use_date_range, start_date, end_date, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str filter_type: (required)
        :param int within_days: (required)
        :param bool use_date_range: (required)
        :param datetime start_date: (required)
        :param datetime end_date: (required)
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['filter_type', 'within_days', 'use_date_range', 'start_date', 'end_date']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method employee_filter_preference_update_employee_filter_preference" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'filter_type' is set
        if ('filter_type' not in params or
                params['filter_type'] is None):
            raise ValueError("Missing the required parameter `filter_type` when calling `employee_filter_preference_update_employee_filter_preference`")  # noqa: E501
        # verify the required parameter 'within_days' is set
        if ('within_days' not in params or
                params['within_days'] is None):
            raise ValueError("Missing the required parameter `within_days` when calling `employee_filter_preference_update_employee_filter_preference`")  # noqa: E501
        # verify the required parameter 'use_date_range' is set
        if ('use_date_range' not in params or
                params['use_date_range'] is None):
            raise ValueError("Missing the required parameter `use_date_range` when calling `employee_filter_preference_update_employee_filter_preference`")  # noqa: E501
        # verify the required parameter 'start_date' is set
        if ('start_date' not in params or
                params['start_date'] is None):
            raise ValueError("Missing the required parameter `start_date` when calling `employee_filter_preference_update_employee_filter_preference`")  # noqa: E501
        # verify the required parameter 'end_date' is set
        if ('end_date' not in params or
                params['end_date'] is None):
            raise ValueError("Missing the required parameter `end_date` when calling `employee_filter_preference_update_employee_filter_preference`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}
        if 'filter_type' in params:
            form_params.append(('FilterType', params['filter_type']))  # noqa: E501
        if 'within_days' in params:
            form_params.append(('WithinDays', params['within_days']))  # noqa: E501
        if 'use_date_range' in params:
            form_params.append(('UseDateRange', params['use_date_range']))  # noqa: E501
        if 'start_date' in params:
            form_params.append(('StartDate', params['start_date']))  # noqa: E501
        if 'end_date' in params:
            form_params.append(('EndDate', params['end_date']))  # noqa: E501

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json', 'text/json', 'application/xml', 'text/xml'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json', 'text/json', 'application/xml', 'text/xml', 'application/x-www-form-urlencoded'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/api/user/filters', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='object',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
